.invoice .container{
	width: 800px;
	margin: 50px auto;
	/*border: 1px solid #e5e5e5;*/
	padding: 50px;
	font-family: Arial;
	overflow: hidden;
}
.invoice .top {
	margin-bottom: 30px;
	overflow: hidden;
}
.invoice .top .col-8{
	width: 500px;
	float: left;
}
.invoice .top .col-4{
	width: 300px;
	float: left;
	text-align: right;
}
.invoice .top .col-4 img{margin: 10px 30px 0 0;}
.invoice .top h1 { 
	margin: 10px 0;
}
.invoice .top h1 span {
  font-size: 24px;
  font-weight: normal;
  margin: 0 10px 0 0;
}
.invoice .top p {
  margin: 0 0 5px 0;
  color: #666;
  font-size: 14px;
  line-height: 14px;
}
.invoice .top p span {color: #c00;}
.invoice .data {
  border: 3px solid #e5e5e5;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.invoice .data .col{
  padding: 20px 30px 0 30px;
  min-height: 160px;
  float: left;
  width: 335px;
}
.invoice .data > .col {border-right: 3px solid #e5e5e5;}
.invoice .data > .col.ojala {border: 0px;}
.invoice .data h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: normal;
  font-family: "Arial Narrow" !important;
  color: #bbb;
}
.invoice .data p {
  line-height: 14px;
  font-size: 14px;
  margin: 0 0 3px 0;
}
.invoice .products {
  margin-bottom: 30px;
  border: 3px solid #e5e5e5;
  border-radius: 5px;
  position: relative;
  padding: 3px;
  z-index: 1000;
}
.invoice .products img {
  position: absolute;
  right: 100px;
  bottom: -100px;
}
.invoice .products table {width: 100%;}
.invoice .products table tr {
  background-color: #0061bf;
  color: #fff;
  font-size: 17px;
}
.invoice .products table tr th {
  color: #fff;
  padding: 10px;
  font-weight: normal;
  font-family: "Arial Narrow" !important;
}
.invoice .products table tr td {
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  color: #555;
  font-family: "Arial Narrow" !important;
  background-color: #f7f8f8;
  border: 1px solid #fff;
  height: 35px !important;
}
.invoice .bottom {
  overflow: hidden;
  background: url('images/warranty.png') 0 0 no-repeat;
}
.invoice .bottom .col-8{
	width: 400px;
	/*float: left;*/
}
.invoice .bottom .col-4{
	width: 200px;
	/*float: left;*/
}
.invoice .bottom .col-8,
.invoice .bottom .col-4 {padding: 0 !important;}
.invoice .bottom .col-4 {
  overflow: hidden;
}
.invoice .bottom .col-8 {
	font-size: 14px;
	color: #999;
}
.invoice .bottom .col-8 h6 {font-weight: bold;}
.invoice .bottom table {
  width: 100%;
  border: 3px solid #e5e5e5;
}
.invoice .bottom table tr th {
  background-color: #0061bf;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  text-align: right;
  font-weight: normal;
  font-family: "Arial Narrow" !important;
  clear: right;

}
.invoice .bottom table tr td {
  padding: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #555;
  font-family: "Arial Narrow" !important;
  background-color: #f7f8f8;
  border: 1px solid #fff;
  height: 20px !important;
  text-align: right;
}
.invoice .bottom table tr td:first-child {
  width: 130px;
  text-align: left;
}
.invoice .bottom table tr .total td {
  font-weight: bold;
  font-size: 18px;
}