@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Questrial);
.fold-course {
  background: #1c2022 url('../images/main-ojala/cursos/html5.jpg') 0 0 no-repeat;
  background-size: cover;
  margin: 0 -50px !important;
  padding: 31px 50px;
  height: 250px;
  border-bottom: 6px solid #e5e5e5;
}
.fold-course h6 {
  margin: 10px 0 5px 0;
  color: #fff;
  text-shadow: 0 2px 6px #000;
  font-size: 14px;
}
.fold-course h6 a {
  color: #ffffff;
}
.fold-course h6 span {
  margin-right: 5px;
  font-size: 12px;
}
.fold-course h1 {
  margin: 0 25% 20px 0;
  color: #fff;
  text-shadow: 0 2px 6px #000;
}
.fold-course small {
  letter-spacing: 0;
  color: #aaa;
  display: block;
  margin: 0 0 5px 0;
}
.fold-course .progress {
  height: 10px;
  margin: 0 0 10px 0;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
}
.fold-course .btn-certificado {
  margin-top: -10px;
}
.next-class {
  padding: 30px 0 10px 0;
}
.next-class .status .btn {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  text-shadow: 0 0 0 transparent;
  color: #5c3907 !important;
}
.next-class .status .btn strong {
  display: block;
}
.agenda h3 {
  margin-bottom: -30px;
}
.program {
  margin-bottom: 40px;
}
.program .lessons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.program .lessons .each {
  margin-bottom: 20px;
}
.program .lessons .name {
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  background-color: #f1f1f1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.program .lessons .name h5 {
  color: #444;
  margin: 0;
  padding: 0;
  line-height: 14px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.program .lessons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.program .lessons ul li {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.program .lessons ul li:last-child {
  border-bottom: 0px;
}
.program .lessons ul li .col-md-9 {
  padding: 0;
}
.program .lessons ul li h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
}
.program .lessons ul li h4 a {
  color: #000;
  font-weight: normal;
  display: block;
  padding: 3px 10px 3px 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: url("../images/topic-play.png") 6px 6px no-repeat;
}
.program .lessons ul li h4 a:hover {
  text-decoration: none;
  background-position: 6px -70px;
  background-color: #fff4e5;
}
.program .lessons ul li span {
  display: block;
  margin: 3px 0 0 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  color: #999;
  font-style: italic;
}
.program .lessons ul li .advance p {
  font-size: 11px;
}
.program .lessons ul li .advance .full {
  background-color: #e5e5e5;
}
.program .lessons ul li .advance .done {
  background-color: #00cc00;
}
.program .lessons ul li .advance .full,
.program .lessons ul li .advance .done {
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}
.sidebar {
  margin-top: 20px;
}
.sidebar .mod {
  margin-bottom: 40px;
}
.sidebar .mod h4 {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px 0;
}
.sidebar .mod.info dl {
  overflow: hidden;
  font-size: 13px;
  margin: 0 0 5px 10px;
}
.sidebar .mod.info dl dt {
  float: left;
  width: 40%;
  display: inline-block;
}
.sidebar .mod.info dl dt span {
  margin: 0 5px 0 0;
}
.sidebar .mod.info dl dd {
  float: left;
  width: 60%;
}
.sidebar .mod.info h5 {
  padding-bottom: 10px;
  margin: 30px 0 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.sidebar .mod.info p {
  color: #666;
  font-size: 13px;
}
#certificado {
  text-align: center;
}
#certificado h2 {
  text-align: center;
  margin: 0 0 10px 0;
  font-weight: lighter;
  letter-spacing: 1px;
}
#certificado p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
#certificado p strong {
  color: #c00;
}
#certificado img {
  margin: 0 auto;
  width: 400px;
}
@media (min-width: 300px) and (max-width: 500px) {
  .fold-course {
    padding: 20px 40px;
    height: auto;
  }
  .fold-course h6 {
    margin: 0;
  }
  .fold-course h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  .fold-course .col-md-2 {
    padding: 0;
  }
  .fold-course .col-md-2 .btn-certificado {
    margin: 0;
    font-size: 18px;
    padding: 12px 10px;
  }
  .container .col-md-9 {
    padding: 0;
    margin: 0 -15px;
  }
  .container .topics .col-md-9 {
    margin: 0;
  }
  .next-class {
    padding: 10px 0;
  }
  .next-class .status .btn {
    white-space: normal;
  }
  .next-class .status .btn strong {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .next-class .status .btn span {
    font-size: 17px;
    white-space: normal;
    line-height: 17px !important;
  }
  .sidebar {
    margin: 0 -15px;
    width: 100%;
  }
  .sidebar .mod {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  .fold-course {
    padding: 20px 60px;
    height: auto;
  }
  .fold-course h1 {
    font-size: 36px;
    margin: 0 0 10px 0;
  }
  .fold-course .col-md-2 {
    padding: 0;
  }
  .fold-course .col-md-2 .btn-certificado {
    margin: 0;
    font-size: 18px;
    padding: 12px 10px;
  }
  .container .topics .col-md-3 {
    width: 100%;
    margin-top: 10px;
  }
  .container .topics .col-md-3 .advance p {
    float: left;
  }
  .container .topics .col-md-3 .advance .full {
    width: 78% !important;
    float: right;
    margin: 2px 0 0 0;
  }
  .next-class {
    padding: 10px 0;
  }
  .next-class .status .btn {
    white-space: normal;
  }
  .next-class .status .btn span {
    white-space: normal;
  }
  .sidebar {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .col-md-9 {
    width: 58%;
    float: left;
    padding: 0;
  }
  .col-md-9 .next-class {
    padding: 30px 0 10px 0;
  }
  .col-md-9 .next-class .status .btn {
    white-space: normal;
  }
  .col-md-9 .next-class .status .btn strong {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .col-md-9 .next-class .status .btn span {
    font-size: 16px;
    white-space: normal;
  }
  .container .topics .col-md-3 {
    width: 100%;
    margin-top: 10px;
  }
  .container .topics .col-md-3 .advance p {
    float: left;
  }
  .container .topics .col-md-3 .advance .full {
    width: 70% !important;
    float: right;
    margin: 2px 0 0 0;
  }
  .container .topics .col-md-9 {
    width: 100%;
  }
  .sidebar {
    width: 40%;
    float: right;
  }
}
.diplomado-l-ui {
  padding: 0 !important;
  margin: 0 -6% !important;
  width: 120%;
}
.diplomado-l-ui .fold {
  text-align: center;
  font-family: Arial;
  margin: 0;
  position: relative;
  z-index: 0;
  background: url('../images/Diplomado-web-back.jpg') no-repeat 50% -130px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.diplomado-l-ui .fold .row {
  width: 60%;
  margin: 0 auto;
}
.diplomado-l-ui .fold .row .col-sm-4 {
  color: #fff;
}
.diplomado-l-ui .fold a.btn {
  border: 5px solid #4e5266;
  margin: 0 10px 10px 0;
}
.diplomado-l-ui .fold .marca-IOS {
  background: url('../images/brand-diplomadoIOS.png') no-repeat 0 0;
  width: 89px;
  height: 28px;
  text-indent: -1000px;
  margin: 30px 0 0 100px;
}
.diplomado-l-ui .fold h1 {
  color: #ffffff;
  font-size: 60px;
  margin: 0 10% 10px 10%;
  text-shadow: 0 2px 6px #000;
}
.diplomado-l-ui .fold h3 {
  color: #ffffff;
  margin: 0 0 20px 0;
}
.diplomado-l-ui .fold p {
  font-size: 22px;
  margin: 0;
}
.diplomado-l-ui .fold p.pre {
  color: #b6b7bd;
  margin: 60px 0 0 0;
}
.diplomado-l-ui .fold p.post {
  color: #ffffff;
  margin: 0 0 20px 0;
}
.diplomado-l-ui .fold small {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  display: block;
  clear: both;
  margin: 0 0 60px 0;
}
.diplomado .info-diplomado {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  margin-bottom: 30px;
  overflow: hidden;
}
.diplomado .info-diplomado .img {
  border-right: 1px solid #e5e5e5;
}
.diplomado .info-diplomado .img,
.diplomado .info-diplomado .img img {
  margin: 0;
  padding: 0;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.diplomado .info-diplomado .img img {
  width: 100%;
}
.diplomado .info-diplomado .description {
  padding: 0 20px;
}
.diplomado .info-diplomado .description h1 {
  margin: 0;
  font-weight: bold;
}
.diplomado .info-diplomado .description p {
  font-size: 13px;
}
.diplomado .reason {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.diplomado .level {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 10px;
  overflow: hidden;
  /* Nivel Inactivo */
}
.diplomado .level.inactivo {
  color: #bbb;
  margin-bottom: 20px;
}
.diplomado .level.inactivo .info-level {
  background-color: #fff;
}
.diplomado .level.inactivo * {
  font-weight: normal !important;
}
.diplomado .level .info-level {
  padding: 25px 30px;
  background-color: #eaf6ea;
}
.diplomado .level .info-level .description span {
  margin: 0 20px 0 0;
  float: left;
  width: 100px;
  font-size: 20px;
  font-weight: normal;
  padding: 13px 0;
}
.diplomado .level .info-level .description h5 {
  font-size: 18px;
  margin: 3px 0;
}
.diplomado .level .info-level .description h4 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.diplomado .level .lessons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.diplomado .level .lessons .name {
  padding: 10px 15px 17px 30px;
  overflow: hidden;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
}
.diplomado .level .lessons .name h5 {
  color: #444;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.diplomado .level .lessons ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.diplomado .level .lessons ul li {
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}
.diplomado .level .lessons ul li:last-child {
  border-bottom: 0px;
}
.diplomado .level .lessons ul li .col-md-9 {
  padding: 0;
}
.diplomado .level .lessons ul li h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  overflow: hidden;
}
.diplomado .level .lessons ul li h4 a {
  color: #000;
  font-weight: normal;
  display: block;
  padding: 15px 20px 15px 70px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  background: url("../images/topic-play.png") 30px 17px no-repeat;
}
.diplomado .level .lessons ul li h4 a:hover {
  text-decoration: none;
  background-position: 30px -58px;
  background-color: #fffaf3;
}
.diplomado .level .lessons ul li span {
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  font-style: italic;
}
.diplomado .level .lessons ul li .advance {
  padding: 0 20px 0 0;
}
.diplomado .level .lessons ul li .advance p {
  font-size: 11px;
  margin: 10px 0 0 0;
}
.diplomado .level .lessons ul li .advance .full {
  background-color: #e5e5e5;
}
.diplomado .level .lessons ul li .advance .done {
  background-color: #00cc00;
}
.diplomado .level .lessons ul li .advance .full,
.diplomado .level .lessons ul li .advance .done {
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}
