@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
.diplomado-l {
  margin: 0;
  padding-top: 0;
  width: 100%;
  max-width: 100%;
}
.diplomado-l a.btn {
  border-radius: 10px !important;
  font-size: 20px;
  padding: 18px 40px;
  letter-spacing: 0;
}
.diplomado-l a.btn.btn-default {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}
.diplomado-l a.btn.btn-success {
  background: -moz-linear-gradient(top, #48a513 0%, #038d01) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48a513), color-stop(100%, #038d01)) !important;
  background: -webkit-linear-gradient(top, #48a513 0%, #038d01 100%) !important;
  background: -o-linear-gradient(top, #48a513 0%, #038d01 100%) !important;
  background: -ms-linear-gradient(top, #48a513 0%, #038d01 100%) !important;
  background: linear-gradient(to bottom, #48a513 0%, #038d01 100%) !important;
}
.diplomado-l .fold {
  text-align: center;
  font-family: Arial;
  margin-bottom: 50px;
  padding-top: 40px;
  position: relative;
  z-index: 0;
}
.diplomado-l .fold .row {
  width: 60%;
  margin: 0 auto;
}
.diplomado-l .fold .row .col-sm-4 {
  color: #fff;
}
.diplomado-l .fold a.btn {
  border: 5px solid #4e5266;
  margin: 0 10px 10px 0;
}
.diplomado-l .fold .marca-IOS {
  background: url('../images/brand-diplomadoIOS.png') no-repeat 0 0;
  width: 89px;
  height: 28px;
  text-indent: -1000px;
  margin: 30px 0 0 100px;
}
.diplomado-l .fold h1 {
  color: #ffffff;
  font-size: 60px;
  margin: 0 10% 10px 10%;
  text-shadow: 0 2px 6px #000;
}
.diplomado-l .fold h3 {
  color: #ffffff;
  margin: 0 0 20px 0;
}
.diplomado-l .fold p {
  font-size: 22px;
  margin: 0;
}
.diplomado-l .fold p.pre {
  color: #b6b7bd;
  margin: 60px 0 0 0;
}
.diplomado-l .fold p.post {
  color: #ffffff;
  margin: 0 0 20px 0;
}
.diplomado-l .fold small {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  display: block;
  clear: both;
  margin: 0 0 60px 0;
}
.diplomado-l.ios .fold {
  background: #3a3e52 url('../images/Diplomado-IOS-back.jpg') no-repeat 50% 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: left;
}
.diplomado-l.ios .fold img {
  position: absolute;
  top: 0;
  left: -10px;
}
.diplomado-l.ios .fold h1,
.diplomado-l.ios .fold h3,
.diplomado-l.ios .fold p,
.diplomado-l.ios .fold small {
  margin-left: 460px;
}
.diplomado-l.android .fold {
  background: #3a3e52 url('../images/Diplomado-android-back.jpg') no-repeat 50% -130px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.diplomado-l.android .fold img {
  position: absolute;
  top: 0;
  left: 0;
}
.diplomado-l.web .fold {
  background: #3a3e52 url('../images/Diplomado-web-back.jpg') no-repeat 50% -130px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.diplomado-l.sm .fold {
  background: #3a3e52 url('../images/Diplomado-sm-back.jpg') no-repeat 50% 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.diplomado-l.sm .fold img {
  position: absolute;
  top: 0;
  left: 0;
}
.diplomado-l .programa {
  width: 80%;
  margin: 0 auto;
}
.diplomado-l .programa small {
  display: block;
  clear: both;
  text-align: center;
  font-size: 14px;
}
.diplomado-l .programa h5 {
  font-size: 20px;
  text-align: center;
}
.diplomado-l .programa a.btn {
  border: 5px solid #ccc;
  margin: 20px 0 10px 33%;
  float: none;
}
.diplomado-l .programa .mod-header {
  font-family: 'Roboto', sans-serif !important;
}
.diplomado-l .programa .mod-header h2 {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  letter-spacing: 1px;
}
.diplomado-l .programa .mod-header p {
  font-weight: 300;
  font-size: 16px;
  color: #999;
  margin: 0 0 30px 0;
}
.diplomado-l .programa .mod1,
.diplomado-l .programa .mod2,
.diplomado-l .programa .mod3,
.diplomado-l .programa .mod4,
.diplomado-l .programa .mod5,
.diplomado-l .programa .mod6,
.diplomado-l .programa .mod7,
.diplomado-l .programa .mod8,
.diplomado-l .programa .mod9,
.diplomado-l .programa .mod10,
.diplomado-l .programa .mod11,
.diplomado-l .programa .mod12 {
  text-align: center;
  padding: 30px 20px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 160px;
}
.diplomado-l .programa .mod1 p,
.diplomado-l .programa .mod2 p,
.diplomado-l .programa .mod3 p,
.diplomado-l .programa .mod4 p,
.diplomado-l .programa .mod5 p,
.diplomado-l .programa .mod6 p,
.diplomado-l .programa .mod7 p,
.diplomado-l .programa .mod8 p,
.diplomado-l .programa .mod9 p,
.diplomado-l .programa .mod10 p,
.diplomado-l .programa .mod11 p,
.diplomado-l .programa .mod12 p {
  margin: 0 0 10px 0;
}
.diplomado-l .programa .mod1 h4,
.diplomado-l .programa .mod2 h4,
.diplomado-l .programa .mod3 h4,
.diplomado-l .programa .mod4 h4,
.diplomado-l .programa .mod5 h4,
.diplomado-l .programa .mod6 h4,
.diplomado-l .programa .mod7 h4,
.diplomado-l .programa .mod8 h4,
.diplomado-l .programa .mod9 h4,
.diplomado-l .programa .mod10 h4,
.diplomado-l .programa .mod11 h4,
.diplomado-l .programa .mod12 h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
.diplomado-l .programa .mod1 small,
.diplomado-l .programa .mod2 small,
.diplomado-l .programa .mod3 small,
.diplomado-l .programa .mod4 small,
.diplomado-l .programa .mod5 small,
.diplomado-l .programa .mod6 small,
.diplomado-l .programa .mod7 small,
.diplomado-l .programa .mod8 small,
.diplomado-l .programa .mod9 small,
.diplomado-l .programa .mod10 small,
.diplomado-l .programa .mod11 small,
.diplomado-l .programa .mod12 small {
  margin: 0;
  font-style: italic;
  color: #999;
  font-size: 12px;
}
.diplomado-l .programa .last {
  margin-bottom: 30px !important;
  border-bottom: 0px !important;
}
.diplomado-l .programa .mod4,
.diplomado-l .programa .mod8,
.diplomado-l .programa .mod12 {
  border-right: 0;
}
.diplomado-l .programa .mod9,
.diplomado-l .programa .mod10,
.diplomado-l .programa .mod11,
.diplomado-l .programa .mod12 {
  border-bottom: 0px;
  margin-bottom: 30px;
}
.diplomado-l .include {
  background: #e8eaf4;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: Arial;
  margin: 40px 0;
}
.diplomado-l .include .mod-header {
  padding-top: 60px;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif !important;
}
.diplomado-l .include .mod-header h2 {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  letter-spacing: 1px;
}
.diplomado-l .include .mod-header p {
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 30px 0;
}
.diplomado-l .include .mod1,
.diplomado-l .include .mod2,
.diplomado-l .include .mod3 {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif !important;
}
.diplomado-l .include .mod1 img,
.diplomado-l .include .mod2 img,
.diplomado-l .include .mod3 img {
  margin-bottom: 20px;
}
.diplomado-l .include .mod1 p,
.diplomado-l .include .mod2 p,
.diplomado-l .include .mod3 p {
  font-weight: 300;
  font-size: 16px;
  color: #444759;
  margin: 0 15%;
}
.diplomado-l .include small {
  display: block;
  clear: both;
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
}
.diplomado-l .include h5 {
  font-size: 20px;
  text-align: center;
}
.diplomado-l .include a.btn {
  border: 5px solid #ccc;
  margin: 20px 0 10px 0;
  float: none;
}
.diplomado-l .apoyo {
  text-align: center;
}
.diplomado-l .apoyo .mod-header {
  padding-top: 50px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif !important;
}
.diplomado-l .apoyo .mod-header h2 {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  letter-spacing: 1px;
}
.diplomado-l .apoyo .kudos {
  margin: 30px 0 0 0;
  padding: 40px 0;
  background: #3a3e52 url('../images/personas.gif');
}
.diplomado-l .apoyo .kudos .mod1,
.diplomado-l .apoyo .kudos .mod2,
.diplomado-l .apoyo .kudos .mod3 {
  background-color: #ffffff;
  border-radius: 10px;
  width: 25%;
  float: left;
  padding: 20px 30px;
  margin: 0 1% 30px 1%;
  text-align: left;
}
.diplomado-l .apoyo .kudos .mod1 h5,
.diplomado-l .apoyo .kudos .mod2 h5,
.diplomado-l .apoyo .kudos .mod3 h5 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.diplomado-l .apoyo .kudos .mod1 img,
.diplomado-l .apoyo .kudos .mod2 img,
.diplomado-l .apoyo .kudos .mod3 img {
  width: 50px;
  height: 50px;
  border: 4px solid #cacee0;
  border-radius: 1000px;
  float: left;
  margin: 0 15px 0 0;
}
.diplomado-l .apoyo .kudos .mod1 p,
.diplomado-l .apoyo .kudos .mod2 p,
.diplomado-l .apoyo .kudos .mod3 p {
  margin: 0;
}
.diplomado-l .apoyo .kudos .mod1 a:hover,
.diplomado-l .apoyo .kudos .mod2 a:hover,
.diplomado-l .apoyo .kudos .mod3 a:hover {
  text-decoration: none;
}
.diplomado-l .apoyo .kudos .mod1 {
  margin-left: 10%;
}
.diplomado-l .final {
  text-align: center;
  background-color: #3a3e52;
  margin-bottom: -20px;
}
.diplomado-l .final .mod-header {
  padding-top: 50px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif !important;
}
.diplomado-l .final .mod-header h2 {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  letter-spacing: 1px;
  color: #ffffff;
}
.diplomado-l .final .btn {
  border: 5px solid #535768;
  margin-bottom: 10px;
}
.diplomado-l .final p {
  color: #afb0b6;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 300px) and (max-width: 600px) {
  /*body *{background-color:#c00;}*/
  .diplomado-l.ios .fold {
    background: #3a3e52 url('../images/Diplomado-IOS-back.jpg') no-repeat 50% -120px;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
  }
  .diplomado-l .fold {
    text-align: center;
    font-family: Arial;
    margin-bottom: 30px;
  }
  .diplomado-l .fold a.btn {
    border: 5px solid #4e5266;
    margin: 0 10px 10px 0;
  }
  .diplomado-l .fold .marca-IOS {
    margin: 20px 0 20px 20px;
  }
  .diplomado-l .fold h1 {
    font-size: 40px;
    margin: 20px 0 10px 0;
  }
  .diplomado-l .fold p {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
  }
  .diplomado-l .fold p.pre {
    color: #b6b7bd;
    margin: 0 10%;
  }
  .diplomado-l .fold p.post {
    color: #ffffff;
    margin: 0 10% 20px 10%;
  }
  .diplomado-l .fold small {
    margin: 0 0 30px 0;
  }
  .diplomado-l .programa {
    width: 90%;
  }
  .diplomado-l .programa .mod-header h2 {
    font-size: 34px;
    margin: 0 0 10px 0;
  }
  .diplomado-l .programa .mod-header p {
    font-weight: 300;
    font-size: 16px;
    color: #999;
    margin: 0 0 30px 0;
  }
  .diplomado-l .programa .mod-header p br {
    display: none;
  }
  .diplomado-l .programa a.btn {
    display: block;
    margin: 20px 0 10px 0;
  }
  .diplomado-l .programa .mod1,
  .diplomado-l .programa .mod2,
  .diplomado-l .programa .mod3,
  .diplomado-l .programa .mod4,
  .diplomado-l .programa .mod5,
  .diplomado-l .programa .mod6,
  .diplomado-l .programa .mod7,
  .diplomado-l .programa .mod8,
  .diplomado-l .programa .mod9,
  .diplomado-l .programa .mod10,
  .diplomado-l .programa .mod11,
  .diplomado-l .programa .mod12 {
    text-align: center;
    padding: 10px 20px;
    border-right: 0;
    border-bottom: 1px solid #e5e5e5 !important;
    height: auto;
  }
  .diplomado-l .programa .mod1 p,
  .diplomado-l .programa .mod2 p,
  .diplomado-l .programa .mod3 p,
  .diplomado-l .programa .mod4 p,
  .diplomado-l .programa .mod5 p,
  .diplomado-l .programa .mod6 p,
  .diplomado-l .programa .mod7 p,
  .diplomado-l .programa .mod8 p,
  .diplomado-l .programa .mod9 p,
  .diplomado-l .programa .mod10 p,
  .diplomado-l .programa .mod11 p,
  .diplomado-l .programa .mod12 p {
    margin: 0 0 10px 0;
  }
  .diplomado-l .programa .mod1 h4,
  .diplomado-l .programa .mod2 h4,
  .diplomado-l .programa .mod3 h4,
  .diplomado-l .programa .mod4 h4,
  .diplomado-l .programa .mod5 h4,
  .diplomado-l .programa .mod6 h4,
  .diplomado-l .programa .mod7 h4,
  .diplomado-l .programa .mod8 h4,
  .diplomado-l .programa .mod9 h4,
  .diplomado-l .programa .mod10 h4,
  .diplomado-l .programa .mod11 h4,
  .diplomado-l .programa .mod12 h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
  }
  .diplomado-l .programa .mod1 small,
  .diplomado-l .programa .mod2 small,
  .diplomado-l .programa .mod3 small,
  .diplomado-l .programa .mod4 small,
  .diplomado-l .programa .mod5 small,
  .diplomado-l .programa .mod6 small,
  .diplomado-l .programa .mod7 small,
  .diplomado-l .programa .mod8 small,
  .diplomado-l .programa .mod9 small,
  .diplomado-l .programa .mod10 small,
  .diplomado-l .programa .mod11 small,
  .diplomado-l .programa .mod12 small {
    margin: 0;
    font-style: italic;
    color: #999;
    font-size: 12px;
  }
  .diplomado-l .programa .mod4,
  .diplomado-l .programa .mod8,
  .diplomado-l .programa .mod12 {
    border-right: 0;
  }
  .diplomado-l .programa .mod9,
  .diplomado-l .programa .mod10,
  .diplomado-l .programa .mod11,
  .diplomado-l .programa .mod12 {
    margin-bottom: 30px;
  }
  .diplomado-l .apoyo .mod-header {
    padding-top: 0;
  }
  .diplomado-l .apoyo .kudos .mod1,
  .diplomado-l .apoyo .kudos .mod2,
  .diplomado-l .apoyo .kudos .mod3 {
    width: 80%;
    float: none;
    padding: 20px 30px;
    margin: 0 auto 30px auto;
  }
  .diplomado-l .apoyo .kudos .mod1 {
    margin-left: 10%;
  }
  .diplomado-l .final p {
    margin: 0 10% 50px 10%;
  }
}
/*
Diplomado iOS
* 1 - Iniciación al desarrollo de iPhone apps con Objective C Básico
2 - Para no programadores: Iníciate en el desarrollo de iPhone apps paso a paso
3 - Crea tu primera aplicación en iOS 7 paso a paso
4 - Crea un lector de blogs para iPhone en iOS7
5 - Como usar Cocoapods para mejorar tus proyectos en iOS
6 - Crea paso a paso una aplicación de fotos para el iPhone5
7 - Aprende como crear tu propio Snapchat para iOS7
8 - Mejorando el diseño en aplicaciones para iPhone con iOS7
9 - Crea tu propio Foursquare para iPhone y iPad
10 - Aprende Origami paso a paso 100% en español y aplícalo a tus iPhone apps
11 - Básico de desarrollo de juegos con Sprite Kit, el framework de Apple
12 - Curso básico de Swift, nuevo lenguaje de programación para iPhone

Diplomado Android
1 - Aprende Java para desarrollar apps para Android (Parte I)
2 - Aprende Java para desarrollar apps para Android (Parte II)
3 - Aprende Java para desarrollar apps para Android (Parte III)
4 - Herramientas de desarrollo en Android para principiantes
5 - Tutorial introductorio de Android Developer Tools (ADT)
6 - Desarrolla tu propia aplicación para Android paso a paso hasta publicarla en el Google Play
7 - Aprende a crear una aplicación de notas para Android
8 - Aprende a crear un lector de blogs para todos tus dispositivos Android
9 - Aprende a crear una app de Android que guarde datos sin conectarse a Internet
10 - Crea juegos para Android y aprende como monetizarlos
11 - Crea tu propio Snapchat para Android (Parte I)
12 - Crea tu propio Snapchat para Android (Parte II)


Diplomado Web
1 - Aprende las bases del HTML paso a paso para crear tu página web
2 - Diseña y desarrolla tu página web con Bootstrap 3
3 - Aprende a usar Adobe Fireworks en tus desarrollos web
4 - Fundamentos de Javascript para mejorar tu trabajo web
5 - Aprende a mejorar tus desarrollos web siendo un ninja de Jquery
6 - Aprende a usar responsive design en tus diseños web
7 - Crea tu propia tienda online con PHP
8 - Expande y optimiza tu tienda online con PHP
9 - Potencia y mejora tu tienda on-line usando PHP y MySQL
10 - Tutorial en español paso a paso sobre MySQL
11 - Tutorial paso a paso sobre fundamentos de bases de datos relacionales
12 - Aprende a analizar quienes visitan tu página web paso a paso con Google Analytics


Diplomado Social Media
1 - Aprende cómo aprovechar el marketing on-line para tu negocio
2 - Curso clave de estrategias de marketing en Internet
3 - Aprende a manejar las herramientas más básicas de mercadeo online
4 - Curso de Marketing Digital: Administración de comunidades online
5 - Aprende a usar Twitter para tus negocios
6 - Aprende a usar Facebook en tu negocio o empresa
7 - Aprende todo sobre LinkedIn para ti y para tus negocios
8 - Entiende cómo medir los resultados de tu trabajo con Social Media
*/
