
// Main Nav - Panel cuando estoy logeado
// -----------------------------------------------------------
.side-nav{
	&:hover{
		cursor: pointer;
		.text-link{
			color: #6b757d;
			margin-left: 0;
			.transition(all .02s linear);
		}
		.title{
			color: #7e8688;
			.transition(color .15s linear);
		}
		.brand .logo{
			width: 130px;
			.transition(all .02s linear);
		}
	}

	// Menu de opciones
	// -----------------------------------------------------------
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			a{
				display: block;
				width: 100%;			
				color: #6b757d;
				padding: 10px 8px;
				padding-left: 8px;
				line-height: 22px;
				font-size: 16px;
				white-space: nowrap;
				font-weight: normal;
				.glyphicon{
					font-size: 22px;
					line-height: 22px;
					margin-right: 10px;
					margin-left: 10px;
					color: #636b6d;
				}
				.glyphicon-cog{
					color: #ff9900
				}
				.text-link{ 
					color: #272c2e;
					margin-left: 20px;
				}
				&:hover{
					color: #fff;
					background-color: #1c2022;
					border-color: #1c2022;
					text-decoration: none;
					.glyphicon{color: #fff !important;}
					.text-link{color: #fff;}
				}
				&:active{color:#fff;}
				&.brand{
					padding: 0;
					margin-bottom: 10px;
					border-bottom: 1px solid #000 !important;
					height: 50px;
					background: @purple;
					.logo{
						background: url('../images/ojala-new-brand.png') 10px 5px no-repeat !important;
						height: 50px;
						width: 50px;
						display: inline-block;
						float: left;
					}
				}
				&.logout{padding-left: 20px;}
			}
			&.active{
				color: #fff;
				background-color: #1c2022;
				border-color: #1c2022;
				text-decoration: none;
				.glyphicon{color: #fff !important;}
				.text-link{color: #fff;}
			}
			&.new{
				color: #fff;
				padding-top: 5px;
				background-color: #ff9900;
				border-color: #ff9900;
				text-decoration: none;
				position: relative;
				.glyphicon{color: #fff !important;}
				.text-link{color: #fff;}
				small{
					position: absolute;
					top: -1px;
					left: 11px;
					font-size: 11px;
					color: #fff;
				}
				a:hover{
					color: #fff;
					background-color: #ff9900;
					border-color: #ff9900;
					text-decoration: none;
					.glyphicon{color: #fff !important;}
					.text-link{color: #fff;}
				}
			}
		}

		// Titulo entre opciones
		// -----------------------------------------------------------
		.title{
			text-transform: uppercase;
			font-size: 18px;
			font-weight: lighter;
			display: block;
			white-space: nowrap;
			padding: 30px 0 10px 20px;
			color: #272c2e;
		}
	}
}

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 300px) and (max-width: 767px) {
	// Nav cuando estoy logeado
	// -----------------------------------------------------------
	.side-nav{
		width: 15% !important;
		.text-link, .title{display: none !important;}
		&:hover{
			.brand .logo{width: 53px;}
		}
	}
	.main-container{
		width: 86% !important;
	}
}