// -----------------------------------------------------------
// Navegacion no logeado en el home principal
// -----------------------------------------------------------
header{
	background: transparent !important;
	border: 0 !important;
  font-weight: lighter;
  font-family: @font-family;
  margin: 40px 0 0 40px;
	.navbar-header {
			
		.navbar-brand{
			width: 110px;
			height: 35px;
			text-indent: -90000px;
			overflow: hidden;
			margin: 0 25px 0 35px;
			background: transparent url('../images/brand-ojala.png') 0 0 no-repeat;
			&:hover, &:focus{outline: none;}
		}
	}

	nav{
		ul{
			&.nav{
				li{
					letter-spacing: 0.5px;
					font-size: 16px;
					margin-right: 3px;
					a{
						padding: 10px 20px;
						color: #fff;
						border-radius: 3px;
						&:hover, &:focus{
							outline: none;
							background: @purple;
						}
					}
				}
			}
			&.nav.navbar-right{
				li{
					margin: 0 30px 0 5px;
					a{
						color: #fff;
						padding: 10px 20px;
						border-radius: 5px;
						border: 3px solid rgba(51, 204, 51, 0.3);
						&:hover, &:focus{
							color: #fff;
							outline: none;
							border: 3px solid rgba(255, 255, 255, 0.5);
							background-color: rgba(255, 255, 255, 0.2);
						}
					}
				}				
			}
		}
	}
}

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 200px) and (max-width: 300px) {
	header{
		margin: 0;
		.navbar-header {
			.navbar-brand{margin: 15px 0 0 0;}
			.navbar-toggle{
				margin: 15px 0 15px 0;
				background-color: @purple;
				.icon-bar{
					height: 1px;
					background-color: #fff;
				}
				&.collapsed{
					background-color: rgba(255, 255, 255, 0.2);
					&:hover{background-color: rgba(255, 255, 255, 0.5);}
				}
			}
		}
	
		nav{
			background-color: @purple;
			.border-radius(3px;);
			margin-right: -15px !important;
			margin-left: -15px !important;
			padding-right: 0 !important;
			padding-left: 0 !important;
			ul{
				&.nav{
					margin: 0;
					li{
						letter-spacing: 0.5px;
						font-size: 18px;
						margin-right: 0;
						a{
							padding: 15px;
							border-radius: 0;
							border-bottom: 1px solid lighten(@purple, 15%);
							&:hover, &:focus{background: lighten(@purple, 10%);}
						}
					}
				}
				&.nav.navbar-right{
					li{
						margin: 0;
						a, a:hover, a:focus, a:active{
							color: #fff;
							border: 0px;
							padding: 15px;
							border-radius: 0;
							background: lighten(@purple, 10%);
						}
					}				
				}
			}
		}
	}	
}

@media (min-width: 301px) and (max-width: 767px) {
	header{
		margin: 0 0 0 0;
		.navbar-header {
			
			.navbar-brand{margin: 15px 10px 0 0;}
			.navbar-toggle{
				margin: 15px 15px 15px 0;
				background-color: @purple;
				.icon-bar{
					height: 1px;
					background-color: #fff;
				}
				&.collapsed{
					background-color: rgba(255, 255, 255, 0.2);
					&:hover{background-color: rgba(255, 255, 255, 0.5);}
				}
			}
		}
	
		nav{
			background-color: @purple;
			.border-radius(3px;);
			margin-right: 0 !important;
			margin-left: 0 !important;
			padding-right: 0 !important;
			padding-left: 0 !important;
			ul{
				&.nav{
					margin: 0;
					li{
						letter-spacing: 0.5px;
						font-size: 18px;
						margin-right: 0;
						a{
							padding: 15px;
							border-radius: 0;
							border-bottom: 1px solid lighten(@purple, 15%);
							&:hover, &:focus{background: lighten(@purple, 10%);}
						}
					}
				}
				&.nav.navbar-right{
					li{
						margin: 0;
						a, a:hover, a:focus, a:active{
							color: #fff;
							border: 0px;
							padding: 15px;
							border-radius: 0;
							background: lighten(@purple, 10%);
						}
					}				
				}
			}
		}
	}
}