// -----------------------------------------------------------
// Navegacion no logeado general del sitio, fondo blanco
// -----------------------------------------------------------
.menu-princ{
	border-bottom: 1px solid #e5e5e5;
	header{
		margin: 20px 0 0 0;
		.navbar-header {		
			.navbar-brand{
				margin: 0 20px 0 13px;
				background: transparent url('../images/brand-ojala.png') 0 bottom no-repeat;
			}
		}

		nav{
			ul{
				&.nav{
					li{
						a{
							color: #999999;
							&:hover, &:focus{
								color: #ffffff;
								background: @purple;
							}
						}
					}
				}

				&.nav.navbar-right{
					li{
						margin: -7px 25px 0 0;
						a{
							color: #fff;
							padding: 10px 20px;
							border-radius: 5px;
							background-color: lighten(@purple, 40%);
							border: 3px solid lighten(@purple, 40%);
							&:hover, &:focus{
								color: #fff;
								outline: none;
								border: 3px solid @purple;
								background-color: @purple;
							}
						}
					}				
				}
			}
		}
	}
}

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 300px) and (max-width: 767px) {
.menu-princ{
	header{
		margin: 0;
		.navbar-header {
			.navbar-brand{margin: 15px 0 15px 15px;}
			.navbar-toggle{
				overflow: hidden;
				margin: 15px 15px 0 0;
				&.collapsed{
					background-color: rgba(0, 0, 0, 0.2);
					&:hover{background-color: rgba(0, 0, 0, 0.5);}
				}
			}
		}
		nav{
			ul{
				&.nav{
					li{
						a{
							color: #fff;
							&:hover{background-color: rgba(255, 255, 255, 0.4);}
						}
					}
				}
				&.nav.navbar-right{
					li {
						margin: 0;
						a{
							padding: 15px;
							border: none;
							background-color: rgba(255, 255, 255, 0.2);
							border-radius: 0 0 3px 3px;
							&:hover{
								border: none;
								background-color: rgba(255, 255, 255, 0.4);
							}
						}
					}
				}
			}
		}
	}
}
}