.back-class{
	background-color: #1c2022 !important;
	position: relative;
	min-height: 100%;
	padding: 51px 4.5% 90px 4.5%;
	margin-bottom: 0;
	margin-right: -4.5% !important;
	margin-left: -4.5% !important;
}
.class{
	background-color: #fff;
	overflow: hidden;
	position: relative;
	.box-shadow(0, 0, 6px, .06);
	.border-radius(0 5px 5px 0);
	height: 510px;

	.video{
		float: left;
		width: 76%;
		height: 510px;
		padding:0 0 0 0;
		overflow: hidden;
		background-color: #444;
		border-right: 1px solid #e5e5e5;
		iframe{
			width: 100%;
			background-color: #fff;
			height: 510px;	
			margin: 0 auto !important;
			float: none;
			overflow: hidden;
		}
	}

	.info{
		float: left;
		width: 24%;
		height: 510px;
		padding: 20px 20px 10px 15px;
		position: relative;
		h1{
			margin:0 0 5px 0;
			font-size: 26px;
			font-weight: lighter;
			letter-spacing: 1px;
		}
		p{
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0;
			color: #bbb;
			font-weight: lighter;
		}
	}
	.addons{
		margin-top: 20px;
		a{
			text-align: left;
			border-color: #f1f1f1;
			padding: 5px 15px 10px 15px;
			color: #999;
			font-weight: normal;
			margin-bottom: 5px;
			span{
				top: 4px;
				width: 26px;
				color: #ccc;
				font-size: 18px;
				margin: 0 5px 0 0;
			}
			&:hover{
				background-color: #428bca;
				border-color: #357ebd;
				color: #fff;
				span{color: #fff;}
			}
		}
	}
	.btn-group{
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 93%;
		.btn{
			width: 40%;
			padding: 11px 0 9px 0;
			overflow: hidden;
			.glyphicon-chevron-left{margin-right:3px; }
			.glyphicon-chevron-right{margin-left: 3px;}
			&.btn-programa {
				width: 20%;
				span{margin: 0 5px 0 0;}
			}
		}
	}
}

#downloads{
	.glyphicon-cloud-download{
		font-size: 90px;
		color: #e5e5e5;
		margin-bottom: 20px;
	}
	a{
		padding: 0;
		&:hover{
			background-color: transparent;
			color: #000;
			text-decoration: none;
			border-bottom: 1px dotted;
		}
	}
	.btn-primary{
		color: #fff;
		padding: 15px 30px;
		font-size: 18px;
		margin-bottom: 20px;
		&:hover{
			background-color: #428bca;
			border-color: #357ebd;
			color: #fff;
		}
	}
}

#downloadsOff{
	.glyphicon-cloud-download{
		font-size: 90px;
		color: #e5e5e5;
		margin-bottom: 20px;
	}
	.btn-default{
		padding: 15px 30px;
		font-size: 18px;
		margin-bottom: 20px;
	}
	a{
		padding: 0;
		&:hover{
			background-color: transparent;
			color: #000;
			text-decoration: none;
			border-bottom: 1px dotted;
		}
	}
	.alert{
		.btn-danger{
			padding: 5px 15px;
			font-size: 14px;
			color: #fff;
			margin-top: 10px;
			border-color: #d43f3a;
			&:hover{
				background-color: #d2322d;
				border-color: #ac2925;
			}
		}		
	}
}
#links{
	.modal-body{
		padding: 20px 40px 40px 40px;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				border-bottom: 1px solid #e5e5e5;
				&:last-child{border: 0px;}
				h5{
					font-weight: normal;
					a{
						color: #666;
						padding: 0;
						span{
							margin: 0 10px 0 0;
							font-size: 18px;
							color: #ccc
						}
						&:hover{
							color: #000;
							background-color: transparent;
							text-decoration: none;
							span{color: #c00;}							
						}
					}
				}
				p{
					color: #666;
					font-size: 14px;
					font-weight: lighter;
				}
			}
		}
	}
}

.link-container{
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	.content{
		font-family: Georgia,"Droid Serif",Times,serif;
		font-size: 20px;
		line-height: 1.8em;
		h1{
			font-size: 70px;
			margin-top: 20px;
			margin-bottom: 40px;
			font-weight: lighter;
			font-family: "source sans pro","AvenirNextCondensed-Medium","HelveticaNeue-CondensedBold","Droid Sans",Helvetica,Arial,sans-serif!important;
		}
		p{
			margin-bottom: 35px;
			color: #666;
			font-weight: normal;
		}
	}
	#disqus_thread{
		margin-top: 60px;
	}
}

.info-foro{
	h6{
		font-weight: lighter;
		font-style: italic;
		letter-spacing: 1px; 
	}
	h1{
		font-size: 70px;
		margin: 0px;
		font-weight: lighter;
		font-family: "source sans pro","AvenirNextCondensed-Medium","HelveticaNeue-CondensedBold","Droid Sans",Helvetica,Arial,sans-serif!important;
	}
}


// Modal con las clases 
// -----------------------------------------------------------
#classes {
  padding: 0;
  .modal-body{
  	padding-bottom: 0;
  }
	.lists {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			ol {
				margin: 0;
				padding: 0;
				list-style: none;
				h5 {
					background-color: #f9f9f9;
					font-size: 14px;
					font-weight: bold;
					margin: 0 0 10px 0px;
					background-color: #f9f9f9;
					padding: 10px 15px;
					.border-radius(3px);
				}
				li {
					font-size: 13px;
					line-height: 17px;
					a {
						overflow: hidden;
						display: block;
						padding: 5px 12px;
						color: #000;
						.border-radius(5px);
						&:hover {
							text-decoration: none;
							background-color: #f1f1f1;
						}
						.progress {
							float: left;
							width: 50px;
							height: 7px;
							margin: 7px 10px 5px 0;
							background: #e5e5e5;
							.border-radius(30px);
							.bar { background: #2bbf47; }
						}
					}
					&.active {
						font-size: 13px;
						padding: 10px 20px;
						list-style: none;
						.border-radius(3px);
						background-color: #ffe9cc;
						margin: 0;
						i {
							color: #ff9000;
							margin: 0 10px 0 0;
						}
					}
				}
				&:last-child:last-child a { border: 0;}
			}
		}
	}
}

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 300px) and (max-width: 500px) {
	/*body *{background-color:#c00;}*/
	.back-class{
		padding: 10px;
		margin-right: -10% !important;
		margin-left: -10% !important;
	}
	.class{
		height: auto;
		.border-radius(0 0 5px 5px);
		.video{
			width: 100%;
			height: 180px;
			padding:0;
			iframe{
				width: 100%;
				height: 180px;	
				margin: 0 auto !important;
			}
		}
		.info{
			float: left;
			width: 100%;
			height: auto;
			padding: 15px 15px 60px 15px;
		}
		.addons{
			margin-top: 10px;
			a{
				font-size: 16px;
				padding: 15px;
				color: #999;
				font-weight: normal;
				margin-bottom: 5px;
			}
		}
		.tools{
			.btn{
				padding: 10px 12px;
				overflow: hidden;
				.glyphicon-chevron-left{margin-right:3px; }
				.glyphicon-chevron-right{margin-left: 3px;}
				&.btn-programa span{margin: 0 5px 0 0;}
			}
		}
	}
}
@media (min-width: 401px) and (max-width: 500px) {
	/*body *{background-color:#0c0;}*/
	.class{
		.video{
			height: 220px;
			iframe{
				height: 220px;	
			}
		}
	}
}
@media (min-width: 501px) and (max-width: 900px) {
	.back-class{padding: 10px;}
	.class{
		height: auto;
		.border-radius(0 0 5px 5px);
		.video{
			width: 100%;
			height: 290px;
			iframe{
				width: 100%;
				height: 290px;	
			}
		}
		.info{
			width: 100%;
			height: auto;
			padding: 25px 25px 60px 25px;
		}
		.addons{
			a{
				font-size: 16px;
				padding: 15px;
			}
		}
	}
}
@media (min-width: 701px) and (max-width: 900px) {
	.class{
		.video{
			height: 420px;
			iframe{
				height: 420px;	
			}
		}
		.addons{
			a{
				width: 31%;
				float: left;
				margin: 0 1%;
				font-size: 16px;
			}
		}
	}
}
@media (min-width: 801px) and (max-width: 900px) {
	.class{
		.video{
			height: 460px;
			iframe{
				height: 460px;	
			}
		}
	}
}