// =================================================================================================
// View del curso ----------------------------------------------------------------------------------
// =================================================================================================

// Primer fold del curso
// -------------------------------------------------------------------------------------------------
.fold-course{
	background: #1c2022 url('../images/main-ojala/cursos/html5.jpg') 0 0 no-repeat;
	background-size: cover;
	margin: 0 -50px !important;
	padding: 31px 50px;
	height: 250px;
	border-bottom: 6px solid #e5e5e5;
	h6{
		margin: 10px 0 5px 0;
		color: #fff;
		text-shadow: 0 2px 6px #000;
		font-size: 14px;
		a{color: #fff}
		span{
			margin-right: 5px;
			font-size: 12px;
		}
	}
	h1{
		margin: 0 25% 20px 0;
		color: #fff;
		text-shadow: 0 2px 6px #000;
	}
	small{
		letter-spacing: 0;
		color: #aaa;
		display: block;
		margin: 0 0 5px 0;
	}
	.progress{
		height: 10px;
		margin: 0 0 10px 0;
		.border-radius(100px);
		.progress-bar.progress-bar-warnin{}
	}
	.btn-certificado{ margin-top: -10px;}
}
.next-class{
	padding: 30px 0 10px 0;
	.status{
		.btn{
			padding: 15px;
			font-size: 20px;
			text-align: center;
			font-weight: lighter;
			text-shadow:0 0 0 transparent;
			color: #5c3907 !important;
			strong{display: block;}
		}
	}
}


// Listado/programa de clases en una portada o home de curso
// -------------------------------------------------------------------------------------------------
.agenda h3{margin-bottom: -30px;}
.program{
  margin-bottom: 40px;

  // Cada clase del listado con el % de avance 
  // -------------------------------------------------------------------------------------------------------
  .lessons{
    margin: 0;
    padding: 0;
    list-style: none;
    
    .each{ margin-bottom: 20px}


        // Titulo del modulo que contiene clases
        // -----------------------------------------------------------------------------------------------
        .name{
          padding: 10px 15px 10px 15px;
          overflow: hidden;
          background-color: #f1f1f1;
          .border-radius;
          margin-top: 40px;
          margin-bottom: 20px;
          h5{
            color: #444;
            margin: 0;
            padding: 0;
            line-height: 14px;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: lighter;
          }
        }
        


        // Titulo de la clase y avance de cada una
        // -----------------------------------------------------------------------------------------------
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{ 
            padding: 0;
            margin: 0;
            overflow: hidden;
            &:last-child{ border-bottom: 0px}
            .col-md-9{
             padding: 0;
           }
           h4{
            margin: 0;
            padding: 0;
            font-size: 14px;
            line-height: 18px;
            overflow: hidden;
            a{
              color: #000;
              font-weight: normal;
              display: block;
              padding: 3px 10px 3px 40px;
              .border-radius(3px);
              background: url("../images/topic-play.png") 6px 6px no-repeat;
              &:hover{
                text-decoration: none;
                background-position: 6px -70px;
                background-color: #fff4e5;
              }
            }
          }
          span{
            display: block;
            margin: 3px 0 0 0;
            padding: 0;
            font-size: 11px;
            line-height: 11px;
            color: #999;
            font-style: italic;
          }

                // Avance de la clase
                // -----------------------------------------------------------------------------------
                .advance {
                  p{ font-size: 11px}
                  .full{ background-color: #e5e5e5}
                  .done{ background-color: #0c0}
                  .full, .done {
                    height: 10px;
                    .border-radius(50px);
                  }
                }
              }
            }
          }
        }


        .sidebar{
         margin-top: 20px;
         .mod{
          margin-bottom: 40px;
          h4{
           border-bottom: 1px solid #e5e5e5;
           padding: 0 0 10px 0;
         }
         &.info{
           dl{
            overflow: hidden;
            font-size: 13px;
            margin: 0 0 5px 10px;
            dt{
             float:left;
             width:40%;
             display: inline-block;
             span{margin: 0 5px 0 0;}
           }
           dd{
             float:left;
             width:60%;
           }
         }
         h5{
          padding-bottom: 10px;
          margin: 30px 0 10px 0;
          border-bottom: 1px solid #e5e5e5;
        }
        p{
          color: #666;
          font-size: 13px;
        }
      }
    }
  }

  #certificado{
    text-align: center;
    h2{
      text-align: center;
      margin: 0 0 10px 0;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    p{
      font-size: 16px;
      text-align: center;
      margin-bottom: 20px;
      strong{color:#c00;}
    }
    img{
      margin: 0 auto;
      width: 400px;
    }
  }

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 300px) and (max-width: 500px) {
  .fold-course{
    padding: 20px 40px;
    height: auto;
    h6{margin: 0;}
    h1{
      font-size: 30px;
      margin: 0 0 10px 0;
    }
    .col-md-2{
      padding: 0;
      .btn-certificado{ 
        margin: 0;
        font-size: 18px;
        padding: 12px 10px;
      }
    }
  }
  .container{
    .col-md-9{
      padding: 0;
      margin: 0 -15px;
    }
    .topics .col-md-9{margin: 0;}
  }
  .next-class{
    padding: 10px 0;
    .status{
      .btn{
        white-space:normal;
        strong{
          font-size: 14px;
          margin-bottom: 5px;
        }
        span{
          font-size: 17px;
          white-space:normal;
          line-height: 17px !important;
        }
      }
    }
  }
  .sidebar{
    margin: 0 -15px;
    width: 100%;
    .mod{margin: 0 0 10px 0;}
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  .fold-course{
    padding: 20px 60px;
    height: auto;
    h1{
      font-size: 36px;
      margin: 0 0 10px 0;
    }
    .col-md-2{
      padding: 0;
      .btn-certificado{ 
        margin: 0;
        font-size: 18px;
        padding: 12px 10px;
      }
    }
  }
  .container{
    .topics{
      .col-md-3{
        width: 100%;
        margin-top: 10px;
        .advance{
          p{float: left;}
          .full{
            width: 78% !important;
            float: right;
            margin: 2px 0 0 0;
          }
        }
      }
    }
  }
  .next-class{
    padding: 10px 0;
    .status{
      .btn{
        white-space:normal;
        span{white-space:normal;}
      }
    }
  }
  .sidebar{width: 100%;}
}
@media (min-width: 601px) and (max-width: 1000px) {
  .col-md-9{
    width: 58%;
    float: left;
    padding: 0;
    .next-class{
      padding: 30px 0 10px 0;
      .status{
        .btn{
          white-space:normal;
          strong{
            font-size: 16px;
            margin-bottom: 5px;
          }
          span{
            font-size: 16px;
            white-space:normal;
          }
        }
      }
    }
  }
  .container{
    .topics{
      .col-md-3{
        width: 100%;
        margin-top: 10px;
        .advance{
          p{float: left;}
          .full{
            width: 70% !important;
            float: right;
            margin: 2px 0 0 0;
          }
        }
      }
      .col-md-9{width: 100%;}
    }
  }
  .sidebar{width: 40%;
    float: right;
  }
}