.diplomado-l-ui {
  padding: 0 !important;
  margin: 0 -6% !important;
  width: 120%;
}
.diplomado-l-ui .fold {
  text-align: center;
  font-family: Arial;
  margin: 0;
  position: relative;
  z-index: 0;
  background: url('../images/Diplomado-web-back.jpg') no-repeat 50% -130px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.diplomado-l-ui .fold .row {
  width: 60%;
  margin: 0 auto;
}
.diplomado-l-ui .fold .row .col-sm-4 {
  color: #fff;
}
.diplomado-l-ui .fold a.btn {
  border: 5px solid #4e5266;
  margin: 0 10px 10px 0;
}
.diplomado-l-ui .fold .marca-IOS {
  background: url('../images/brand-diplomadoIOS.png') no-repeat 0 0;
  width: 89px;
  height: 28px;
  text-indent: -1000px;
  margin: 30px 0 0 100px;
}
.diplomado-l-ui .fold h1 {
  color: #ffffff;
  font-size: 60px;
  margin: 0 10% 10px 10%;
  text-shadow: 0 2px 6px #000;
}
.diplomado-l-ui .fold h3 {
  color: #ffffff;
  margin: 0 0 20px 0;
}
.diplomado-l-ui .fold p {
  font-size: 22px;
  margin: 0;
}
.diplomado-l-ui .fold p.pre {
  color: #b6b7bd;
  margin: 60px 0 0 0;
}
.diplomado-l-ui .fold p.post {
  color: #ffffff;
  margin: 0 0 20px 0;
}
.diplomado-l-ui .fold small {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  display: block;
  clear: both;
  margin: 0 0 60px 0;
}


.diplomado{
	
  .info-diplomado {
  	.border-radius;
  	border-radius: 5px;
  	border: 1px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
  	margin-bottom: 30px;
  	overflow: hidden;
  	.img{ border-right: 1px solid #e5e5e5;}
    .img, .img img{
  		margin: 0;
  		padding: 0;  
  		.border-radius(5px 0 0 5px);		
  	}
  	.img img{width: 100%;}
  	.description {
 			padding: 0 20px;
 			h1 { 
        margin: 0;
        font-weight: bold;
      }
 			p { font-size: 13px;}
		}
	}
	
  .reason {
  	text-align: center;
  	margin-top: 50px;
  	margin-bottom: 10px;
	}

	.level {
	  .border-radius;	
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
  	margin-bottom: 10px;
  	overflow: hidden;
		
    /* Nivel Inactivo */
    &.inactivo {
  		color: #bbb;
      margin-bottom: 20px;
      .info-level{ background-color: #fff;}
  		* { font-weight: normal !important;}
		}

		.info-level { 
			padding: 25px 30px;
      background-color: lighten(#5cb85c, 40%);
			.description {
				span {
  				margin: 0 20px 0 0;
  				float: left;
  				width: 100px;
  				font-size: 20px;
  				font-weight: normal;
  				padding: 13px 0;
				}
				h5{
				  font-size: 18px;
  				margin: 3px 0;
				}
				h4 {
  				margin: 0;
  				font-size: 24px;
  				font-weight: bold;
				}
			}
		}
		
    .lessons {
  		margin: 0;
  		padding: 0;
  		list-style: none;
  		.name {
  			padding: 10px 15px 17px 30px;
  			overflow: hidden;
  			background-color: #f9f9f9;
  			border-bottom: 1px solid #e5e5e5;  
  			h5 {
  				color: #444;
  				text-transform: uppercase;
  				margin: 0;
  				padding: 0;
  				font-size: 18px;
  				line-height: 18px;
          letter-spacing: 1px;
  				font-weight: lighter;
				}			
  		}
  		ul {
  			margin: 0 !important;
  			padding: 0 !important;
  			list-style: none;
        li {
  				padding: 0;
  				margin: 0 !important;
  				overflow: hidden;
  				border-bottom: 1px solid #f1f1f1;
  				&:last-child {border-bottom: 0px;}
  				.col-md-9 { padding: 0;}
  				h4 {
  					margin: 0;
  					padding: 0;
  					font-size: 16px;
  					line-height: 16px;
  					overflow: hidden;
  					a {
  						color: #000;
  						font-weight: normal;
  						display: block;
  						padding: 15px 20px 15px 70px;
  						.border-radius(0);
  						background: url("../images/topic-play.png") 30px 17px no-repeat;
  						&:hover {
  							text-decoration: none;
  							background-position: 30px -58px;
  							background-color: #fffaf3;
							}
						}
					}
					span {
  					display: block;
  					margin: 5px 0 0 0;
  					padding: 0;
  					font-size: 12px;
  					line-height: 12px;
  					color: #999;
  					font-style: italic;
					}

					.advance { 
						padding: 0 20px 0 0;
						p {
  						font-size: 11px;
  						margin: 10px 0 0 0;
						}
						.full { background-color: #e5e5e5;}
						.done { background-color: #00cc00;}
						.full, .done{
							height: 10px;
							.border-radius(50px);
						}
					}
  			}
			}
		}
	}
}