.mod-devise{
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 40px 40px 40px;
    .border-radius;
    h3{
        margin: 0;
        padding: 0 0 20px 0;
        font-family: @font-family;
        border-bottom: 1px solid #e5e5e5
    }
    p{
        margin: 10px;
        text-align: center;
    }
    .btn.facebook{
        margin: 0 20%;
        display: block !important;
    }
    .links{
        width: 100%;
        padding: 30px 0 0 0;
        .btn{
            width: 50%;
            display: block;
        }
    }
}
.col-date {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 130px;
}

label.error {
	border: 0;
	background: transparent;
}

.errorSummary {
	background: #FFFCFC;
	border: 1px solid #FF0000;
	color: #FF0000;
	margin: 50px auto;
	padding: 20px;
}

form .errorMessage {
    color: #C00;
    font-size: 12px;
    font-style: italic;
    margin: 3px 0px 0px;
}

.back-button {margin-bottom: 20px;}

@media (min-width: 300px) and (max-width: 600px) {
.mod-devise{
    margin-top: 0;
    margin-bottom: 0;
    h3{
        margin: 0;
        padding: 0 0 20px 0;
        font-family: @font-family;
        border-bottom: 1px solid #e5e5e5
    }
    p{
        margin: 10px;
        text-align: center;
    }
    .btn.facebook{margin: 0 auto 20px 25%;}
}
}