// =======================================================================================================
// Estilos para el home principal de Oja.la  -------------------------------------------------------------
// =======================================================================================================
body{
  border-top: 10px solid @purple;
}
// Contenedor principal
// -----------------------------------------------------------
.home{
  font-family: @font-family;

  .fold{
    text-align: left;
    h1{
      color: #fff;
      font-size: 54px;
      line-height: 56px;
      text-shadow: 0 0 10px #000;
      margin: 0 0 10px 70px;
      width: 45%;
    }
    .btn {
      .btn;
      margin: 0 0 50px 70px;
      &:hover, &:focus{margin: 2px 0 48px 70px;}
      &:active{margin: 4px 0 46px 70px;}
    }
    p{
      color: rgba(250,250,250,.6);
      font-size: 19px;
      letter-spacing: 1px;
      font-weight: lighter;
      font-family: @font-family-secondary;
      margin: 0 0 25px 70px;
      width: 35%;
    }
  }

  .details{
    background-color: #fff;
    overflow: hidden;
    margin: 0 -15px;
    padding: 50px 0;
    div{
      &.clases{}
      &.cursos{}
      &.chats{}
      .each{
        text-align: center;
        margin: 0 13%;
        h2{
          color: @purple;
          font-weight: 400;
          margin: 0 0 10px 0;
        }
        p{
          font-size: 16px;
          margin: 0;
          font-family: @font-family-secondary;
          color: #888888;
        }
      }
    }
  }

  .profundizar{
    background-color: lighten(@purple, 50%);
    overflow: hidden;
    margin: 0 -15px;
    padding: 50px 0; 
    text-align: center;
    h2{
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 50px 0;
    }
    .diplomados{
      margin: 0 6%;
      a{outline: none;}
      .mod-course{
        font-family: @font-family-secondary;
        text-align: left;
        .thumbnail{
          border-color:#ccc;
          h4{
            font-size: 18px;
            line-height: 20px;
            height: 65px;
            margin-bottom: 15px;
          }
        }
        .btn{
          display: block;
          width: 92%;
          padding: 8px 0;
          font-size: 14px;
          background-color: darken(@green, 5%);
          border-color: darken(@green, 5%);
          &:hover, &:focus, &:active{
            background-color: darken(@green, 15%);
            border-color: darken(@green, 15%);
          }
        }
      }
    }
  }

  .trainer{
    border-top: 1px solid #f1f1f1;
    background-color: #fff;
    overflow: hidden;
    margin: 0 -15px;
    padding: 50px 0 0 0; 
    text-align: center;
    h2{
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 50px 0;
    } 
    .ayuda{
      margin: 0 15%;
    }
    h3{
      font-size: 31px;
      margin: -10px 0 30px 0;
      font-weight: lighter;
      letter-spacing: 1px;
      font-family: @font-family-secondary;
    }
    .each{
      overflow: hidden;
      margin: 0 0 40px 0;
      img{
        float: left;
        margin: 0 30px 5px 50px;
      }
      p{
        text-align: left;
        font-size: 16px;
        margin: 0;
        color: #777777;
      }
    }
  }


  .videos{
    background: url("../images/back-suscripciones.jpg") 0 0 repeat;
    overflow: hidden;
    margin: 0 -15px;
    padding: 50px 0; 
    text-align: center;
    h2{
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 40px 0;
      color: #fff;
      text-shadow: 0 0 10px #000;
    } 
    .clases{
      background: url("../images/apple-air.png") 50% -25px no-repeat;
      width: 1000px;
      height: 550px;
      margin: 0 auto;
      iframe{
        margin: 43px 0 0 -2px;
      }
    }   
  }

  /**/


  .estudiantes{
    background-color: #fff;
    overflow: hidden;
    margin: 0 -15px;
    padding: 50px 0 0 0; 
    text-align: center;
    .brands{
      img{margin: 15px;}
    }
    h2{
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 30px 0;
    }
      .kudos{
        margin: 30px 0 0 0;
        padding: 50px 100px;
        background: #e5e5e5 url('../images/personas.gif');
      }    
  }

  .final{
    background: @purple;
    padding: 50px 0;
    text-align: center;
    margin: 0 -15px !important;
    h2{
      font-size: 40px;
      font-weight: 300;
      margin: 0 0 20px 0;
      color: #fff;
      text-shadow: 0 0 10px #000;
    } 
    .btn{
      .btn;
      margin-bottom: 20px;
    }
    p{
      color: rgba(250,250,250,.6);
      font-size: 19px;
      letter-spacing: 1px;
      font-weight: lighter;
      color: #fff;
      font-family: @font-family-secondary;
    }
  }
}

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 200px) and (max-width: 300px) {
  .home{

    .fold{
      h1{
        font-size: 30px;
        line-height: 30px;
        margin: -10px 0 10px 0;
        width: 100%;
        br{display: none;}
      }
      p{
        font-size: 15px;
        margin: 0 0 10px 0;
        width: 100%;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.6);
        padding: auto;
        .border-radius;
        color: #fff;
      }
      .btn {
        padding: 0;
        display: block;
        &:link, &:hover, &:focus, &:active{margin: 0 0 30px 0;}
      }
    }

    .details{
      padding: 30px 0 0 0;
      div{
        .each{
          text-align: center;
          margin: 0 0 50px 0;
        }
      }
    }

    .profundizar{
      margin-top: -20px;
      padding: 30px 0; 
      h2{
        font-size: 30px;
        margin: 0 0 20px 0;
      }
      .diplomados{
        .mod-course{
          .thumbnail{
            h4{
              font-size: 22px;
              line-height: 26px;
              height: auto;
            }
          }
          .btn{
            width: 100%;
            padding: 12px 0;
            font-size: 16px;
          }
        }
      }
    }


    .trainer{
      padding: 30px 0 0 0; 
      h2{margin: 0;} 
      .ayuda{margin: 0;}
      h3{
        font-size: 24px;
        margin: 30px 0;
      }
      .each{
        margin: 0 0 40px 0;
        img{margin: 0 30px 5px 20px;}
      }
    }


    .videos{
      padding: 50px 0; 
      h2{
        font-size: 40px;
        font-weight: 300;
        margin: 0;
        color: #fff;
        text-shadow: 0 0 10px #000;
      } 
      .clases{display: none;}
  
    }

    .estudiantes{
      padding: 30px 0 0 0; 
      .brands{img{margin: 10px;}}
      h2{
        font-size: 30px;
        margin: 0 0 20px 0;
      }
      .kudos{
        padding: 5%;
      }    
    }

    .final{
      background: @purple;
      background-image: none;
      h2{font-size: 36px;} 
      p{margin: 3%;}
    }
  }
}
@media (min-width: 301px) and (max-width: 700px) {
  .home{

    .fold{
      h1{
        font-size: 36px;
        line-height: 38px;
        margin: -10px 0 30px 0;
        width: 79%;
        br{display: none;}
      }
      p{
        font-size: 15px;
        margin: 0 0 20px 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px 15px;
        .border-radius;
        color: #fff;
      }
      .btn {
        display: block;
        &:link, &:hover, &:focus, &:active{margin: 0 0 30px 0;}
      }
    }

    .details{
      padding: 30px 0 0 0;
      div{
        .each{
          text-align: center;
          margin: 0 0 50px 0;
        }
      }
    }

    .profundizar{
      margin-top: -20px;
      padding: 30px 0; 
      h2{
        font-size: 30px;
        margin: 0 0 20px 0;
      }
      .diplomados{
        .mod-course{
          .thumbnail{
            h4{
              font-size: 22px;
              line-height: 26px;
              height: auto;
            }
          }
          .btn{
            width: 100%;
            padding: 12px 0;
            font-size: 16px;
          }
        }
      }
    }


    .trainer{
      padding: 30px 0 0 0; 
      h2{margin: 0;} 
      .ayuda{margin: 0;}
      h3{
        font-size: 24px;
        margin: 30px 0;
      }
      .each{
        margin: 0 0 40px 0;
        img{margin: 0 30px 5px 20px;}
      }
    }


    .videos{
      padding: 50px 0; 
      h2{
        font-size: 40px;
        font-weight: 300;
        margin: 0;
        color: #fff;
        text-shadow: 0 0 10px #000;
      } 
      .clases{display: none;}
  
    }

    .estudiantes{
      padding: 30px 0 0 0; 
      .brands{img{margin: 10px;}}
      h2{
        font-size: 30px;
        margin: 0 0 20px 0;
      }
      .kudos{
        padding: 5%;
      }    
    }

    .final{
      background: @purple;
      background-image: none;
      h2{font-size: 36px;} 
      p{margin: 3%;}
    }
  }
}



//@media (min-width: 401px) and (max-width: 500px) {body *{background-color:#0c0;}}
//@media (min-width: 501px) and (max-width: 600px) {body *{background-color:#00c;}}
//@media (min-width: 601px) and (max-width: 700px) {body *{background-color:#cc0;}}
//@media (min-width: 701px) and (max-width: 800px) {body *{background-color:#0cc;}}
//@media (min-width: 801px) and (max-width: 900px) {body *{background-color:#aa0;}}
//@media (min-width: 901px) and (max-width: 1000px) {body *{background-color:#0aa;}}
//@media (min-width: 1001px) and (max-width: 1100px) {body *{background-color:#ff0;}}
//@media (min-width: 1101px) and (max-width: 1200px) {body *{background-color:#0ff;}}