// =======================================================================================================
// Layout ------------------------------------------------------------------------------------------------
// =======================================================================================================
html, body {
	width:100%;
	background-color: #fff;
	font-family: @font-family-sans-serif;
  text-rendering: optimizeLegibility;
}
.alert.alert-danger{text-align: center;}

// Main Nav - Main Content
// -----------------------------------------------------------------------------------------------
.side-nav{
	width:58px;
	float:left;
	background-color:#272c2e;
	min-height:100%;
	overflow: hidden;
	position:fixed;
	padding: 0;
	margin: -10px 0 0 0;
	z-index: 1000;
  border-top: 10px solid #4554a4;
}
.main-container{
	width:96%;
	float:right;
	overflow: hidden;
	position: relative;
	min-height:100%;
  margin-top: -1px;
	#content{ 
		padding: 0 0;
		margin: 0 4%;
	}
}
.wraper{position: relative;}
// Clases para cambiar el ancho al abrir o cerrar el sidebar
.box-open{width:16%}
.container-open{width:84%}

.spacer { margin-top: 30px }




// Page header para cualquier página
// -----------------------------------------------------------------------------------------------
.page-header{
	margin: 0 -15px 0 -15px;
	padding: 40px 10px;
	border-bottom: 0px !important;
	h1{
		margin:0;
    font: lighter 50px @font-family;
	}
	p{
		font-size: 20px;
		letter-spacing: 1px;
		color: #aaa;
    font-weight: lighter;
    font-family: @font-family-secondary !important;
	}
}


.buscador{
  margin: 20px 0 0 0;
  form{
    .input-group{
      float: left;
      width: 87%;
      input{
        .border-radius(5px 0 0 5px) !important;
      }
    }
    button{
      float: left;
      margin: -1px 0 0 0;
      width: 13%;
      padding: 12px 0 12px 0;
      font-size: 20px;
      text-align: center;
    }
  }
}



.side{
  height: 100%;
  position: absolute;
  //overflow: hidden;
}

.sidebar-filters{
  z-index: 100;
  width: 180px;
  .filters, .order{
    background-color: #f9f9f9;
    padding: 10px 0 0 0;
    .border-radius;
    margin: 0 0 15px 0;
    display: block;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    h4{
      margin: 0;
      padding: 0 0 10px 15px;
      font: 17px @font-family;
    }
    ul{
      margin: 0;
      padding: 0;
      li{
        padding: 0;
        margin: 0;
        border-top: 1px solid #e5e5e5;
        a{
          .border-radius(0);
          padding: 8px 15px;
          margin: 0;
          font-size: 13px;
          line-height: 13px;
          color: @purple;
          &:hover, &:focus{
            background-color: lighten(@purple, 15%);
            color: #fff;
            outline: none;
          }
        }
        &:last-child{
          a{.border-radius(0 0 3px 3px);}
        }
        &.active{
          a, a:hover, a:focus, a:active{
            background-color: @purple;
            color: #fff;
            outline: none;
          }
        }
      }
    }
  }
}

.filters-private{
  margin-top: -30px;
  .btn{
    .btn;
    padding: 10px;
    margin: 5px 20px 0 0;
    font-size: 14px;
    color: #fff !important;
    text-shadow:none;
  }
}

.resultado.alert{
  padding: 20px;
  font: 20px @font-family;
  strong{font-weight: bold;}
}

// Blankslate de los listados
// ----------------------------------------------------------------------------------------------------
.blankslate.cursos{
  h5{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 0 0 20px 0;
  }
  .links{
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    a{
      display: inline-block;
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: 50% 30%;
      background-color: #f7f7f7;
      .border-radius;
      margin: 10px .5%;
      padding: 110px 0 30px 0;
      color: #000;
      font-weight: bold;
      font-size: 14px;
      &:hover{
        text-decoration: none;
        background-color: #e5e5e5;
      }
      &.mercadeo{background-image: url('../images/icon-mercadeo.png')}
      &.ios{background-image: url('../images/icon-ios.png')}
      &.android{background-image: url('../images/icon-android.png')}
      &.socialmedia{background-image: url('../images/icon-socialmedia.png')}
      &.otros{background-image: url('../images/icon-box.png')}
      &.web{background-image: url('../images/icon-webdev.png')}
    }
  }
  .alert{
    display: block;
    float: none;
    margin: 0 30px 50px 30px;
    h4{
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      strong{
        margin: 0 10px;
      }
      a{
        &:hover{
          text-decoration: none;
          strong{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
// Modulo de cada curso
// ----------------------------------------------------------------------------------------------------
.mod-course{
  .fade;
  &.active .thumbnail{ border-color: #aaa;}
  .thumbnail{
    padding: 0;
    overflow: hidden;
    border: 1px solid #cccccc;
    .box-shadow(0, 0, 8px, .1);
    .img{
      width: 100%;
      height: 190px;
      overflow: hidden;
      border-bottom: 1px solid #e5e5e5;
      background: url("../images/loading.gif") no-repeat 50%;
      position: relative;
      .border-radius(2px 2px 0 0);
      img{
        width: 100%;
        border: 0px;
        .border-radius(2px 2px 0 0);
        &.img-thumbnail{
          padding: 0;
          border: 0px;
          .border-radius(2px 2px 0 0);
        }
      }
    }
    h4{ 
      font-size: 18px;
      line-height: 21px;
      margin: 0 10px 0 10px;
      display: block;
      height: 65px;
      overflow: hidden;
      font-weight: normal;
      a{
        color: #000;
        display: block;
        &:hover{ text-decoration: none}
      }
    }
    h6{
      font-size: 14px;
      font-style: italic;
      margin: 5px 10px;
      color: #999;
    }
    hr{margin: 10px 0 !important;}
    .btn{ 
      margin: 0 0 10px 0 !important;
      .btn;
      padding: 8px 20px;
      font-size: 14px;
      letter-spacing: .5px;
    }
  }
	opacity: 1;
}
.ib-container{
  margin: 0 !important;
  .col-md-3{margin-bottom: 35px;}
  .mod-course{
    &.blur{
      -webkit-transform: scale(0.98);
      -moz-transform: scale(0.98);
      -o-transform: scale(0.98);
      -ms-transform: scale(0.98);
      transform: scale(0.98);
      opacity: 0.3;
    }
    &.active{
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      z-index: 100;   
      opacity: 1;
    }
  }
}

// Listado de Mis cursos
// ----------------------------------------------------------------------------------------------------
.main{
  .each{
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
    overflow: hidden;
    .box-shadow(0, 0, 8px, .1);
    .thumbnail{
      padding: 0;
      margin: 0;
      border: 0px;
      .img{
        overflow: hidden;
        border-right: 1px solid #e5e5e5;
      }
      img{
        width: 100%;
        .border-radius(3px 0 0 3px);
      }
    }
    .caption{
      padding: 20px 30px;
      border-right: 1px solid #e5e5e5;
      h4{
        font-size: 26px;
        margin: 0 0 5px 0;
        a{
          color: #000;
          &:hover{text-decoration: none;}
        }
      }
      h5{
        font-size: 12px;
        font-weight: normal;
        margin: 0 0 0 0;
        color: #aaa;
        a{
          margin: 0 0 0 10px;
          color:#aaa;
          &:hover{
            text-decoration: none;
            color: #000;
            border-bottom: 1px dotted #ccc;
          }
        }
      }
      small{
        margin: 0 0 70px 0;
        letter-spacing: 0px;
      }
      .progress{
        height: 10px;
        margin-bottom: 10px;
        .border-radius(100px);
      }
      .btn{
        margin: 5px 0 0 0;
        &.btn-success span{ margin: 0 0 0 5px;}
        &.btn-warning span{ margin: 0 5px 0 0;}
      }
    }
    .info{
      .btn{
        padding: 3px 10px;
        margin: 5px 0 0 0;
      }
      h4{
        margin: 20px 0 15px 0;
        font-weight: normal;
      }
      dl{
        overflow: hidden;
        font-size: 13px;
        margin: 0 0 6px 10px;
        dt{
          float:left;
          width:40%;
          display: inline-block;
          span{margin: 0 5px 0 0;}
        }
        dd{
          float:left;
          width:60%;
        }
      }
    }
  }
}

// Modulo de cada diplomado
// ----------------------------------------------------------------------------------------------------
.diplomado{
  .mod-course{
    margin-bottom: 30px;
    .thumbnail{
      .img{
        width: 60%;
        height: 230px;
        overflow: hidden;
        background: url("../images/loading.gif") no-repeat 50%;
        position: relative;
        float: left;
        margin: 0 15px 0 0;
        border: 0px;
        .border-radius(5px 0 0 5px);
        img{
          width: 100%;
          .border-radius(5px 0 0 5px);
        }
      }
      .btn{
        display: block;
        width: 37%;
      }
      .caption{
        h4{
          font-size: 22px;
          line-height: 25px;
          margin: 10px 0 0 0;
          padding: 0 0 0 10px;
          display: block;
          height: 143px;
          overflow: hidden;
          font-weight: normal;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .page-header{
    padding: 20px 10px;
    border-bottom: 0px !important;
    h1{
      font-size: 34px;
      margin-bottom: 10px;
    }
    p{font-size: 16px;}
  }
  .sidebar-filters{display: none;}

  .diplomado{
    .mod-course{
      .thumbnail{
        .img{
          width: 100%;
          height: auto;
          margin: 0 0 15px 0;
        }
        .btn{
          width: 100%;
          padding: 12px 0;
          font-size: 16px;
        }
        .caption{
          h4{
            font-size: 22px;
            line-height: 26px;
            height: auto;
          }
        }
      }
    }
  }
}





@media (min-width: 501px) and (max-width: 600px) {
  .side-nav{ width:11.5%;}
  .main-container{
    width:88.5%;
    #content{ margin: 0%;}
  }
}