.menu-suscripcion{ .nav.navbar-nav.navbar-right{display: none;}}

.info-suscripcion{
  position: relative;

  .page-header{
    text-align: center;
    border: 0;
    margin-bottom: 0px;
    h1{
      font-size: 50px;
      font-weight: bold;
      margin: 30px 0 0 0;
    }
    h4{
      font-weight: lighter;
      font-size: 26px;
      letter-spacing: 1px;
      margin: 0;
      display: none;
    }
  }

  .price{
    padding: 20px;
    margin: 0 0 0 50px;
    z-index: 1000;
    width: 380px;
    small{
      text-align: center;
      display: block;
      font-size: 15px;
      color: #666;
      margin: 20px 0 0 0;
      img{margin: 5px 0 15px 0;}
    }
    a{
      display: block;
      text-align: center;
    }
    .monthly, .yearly{
      border: 5px solid #a1a3ac;
      border-radius: 10px;
      background: #fff;
      text-align: center;
      padding: 30px 40px;
      margin: 10px;
      h6{
        font-size: 24px;
        font-weight: normal;
        margin: 0 0 5px 0;
      }
      h1{
        font-size: 460%;
        font-weight: bold;
        margin: 0;
      }
      p{
        margin: 0 0 10px 0;
        font-size: 18px;
        letter-spacing: 0;
      }
      a.btn{
        .btn;
        border-radius: 5px !important;
        font-size: 18px;
        padding: 15px 30px;
        letter-spacing: 0;
        &.btn-default{
          background: transparent;
          color: rgba(255, 255, 255, 0.5);
          font-weight: normal;
        }
        &.btn-success{
          .background-gradient(#038d01, #48a513) !important;
        }
        &.btn-default{
          height: auto !important;
          padding: 15px 30px !important;
          text-shadow: none;
          .background-gradient(#aaaaaa, #cccccc) !important;
          color: #fff;
        }
      }
    }
    .yearly{
      padding: 30px;
      border-left: 0px !important;
      border-radius: 0 10px 10px 0;
      margin: 40px 0 10px 0;
      h1{font-size: 50px;}
      h6{font-size: 18px;}
    }
  }

  .razones{
    float: right;
    width: 550px;
    margin: 0 100px 0 0;
    h2{
      margin-bottom: 40px;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    .reason{
      border-bottom: 1px solid #e5e5e5;
      padding: 0 0 20px 0;
      margin: 0 0 20px 0;
      h4{
        font-size: 30px; 
        font-family: @font-family;
        span{
          color: darken(@green, 15%);
          margin: 0 10px 0 0;
        }
      }
      p{
        font-size: 16px;
        color: #777;
      }
    }
    .detalles{
      h3{margin: 50px 0 20px 0;}
      ul{
        margin: 0 40px 50px 0;
        li{
          font-size: 16px;
          font-weight: normal;
          color: #999;
        }
      }
    }
  }

}
.side-price{
  position: absolute;
  height: 100%;
}
.side-razones{
  position: relative;
  float: right;
}



// View pagos de una suscripcion
// -------------------------------------------------------------------------------------------------------
.payments {
  .page-header{
    margin: 0;
    padding: 0;
    border: 0px !important;
    text-align: center;
    h1{
      margin: 70px 0 20px 0;
      padding: 0;
      font-size: 40px;
      font-weight: bold;
    }
  }
  hr{
    display: block;
    clear: both;
    float: none;
    margin-bottom: 30px;
  }
  .monthly, .yearly{
    label{
      border-radius: 5px;
      border: 1px solid #ccc;
      display: block;
      padding: 20px 20px 5px 20px;
      margin: 0 0 30px 0;
      position: relative;
      height: 75px;
      cursor: pointer;  
      &:hover{
        cursor: pointer;
        background-color: #f8fafd;
      }
      &.active{
        border-color: #d0dcec;
        background-color: #f8fafd;
      }  
      input{
        float: left;
        margin: 0 10px 0 0;
      }  
      p{
        float: left;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 0 5px 0;
        color: #666;
        strong{
          color: #000;
          font-size: 20px;
        }
        span{ color: #000}
      }
      small{
        position: absolute;
        top: 10px;
        right: -85px;
        padding: 0 23px;
        color: #fff;
        background: url("../images/flag.png") 50% no-repeat;
      }
    }
  }
  .col-md-12{ padding: 0 30%;}
  .email-princ{ 
    margin-bottom: 30px;
    p{font-size: 13px;}
    &.error{
      input{
        border: 1px solid #c00;
        background-color: #fffcfc;
      }
      small, span{color: #cc0000 !important;}
    }
  }
  .payment-errors{
    padding: 0;
    width: 100%;
    border: 0px;
    display: block;
    text-align: center;
    p{
      font-size: 12px;
      line-height: 30px;
      color: #c00;
      margin: 20px 0;
      padding: 0;
      display: block;
    }
  }
  h4{
    font-weight: bold;
    margin-bottom: 20px;
  }
  .nav-tabs{ 
    border: 0px;
    li {
      a{
        font-weight: bold;
        &:hover{
          background-color: #f8fafd; 
        }
      }
      &.active {
        a, a:hover, a:active{
          border-color: #d0dcec; 
          border-bottom-color: transparent;
          background-color: #f8fafd; 
          font-weight: bold;
        }
      }
    }
  }
  .tab-content{
    border: 1px solid #d0dcec;
    padding: 30px;
    border-radius: 0 5px 5px 5px;
    overflow: hidden;
    background-color: #f8fafd;
    margin-bottom: 30px;
  }
  .cc{
    .card-number{
      input{
        padding-right: 150px;
        background-image: url("../images/credit-cards-2.png");
        background-repeat: no-repeat;
        background-position: 96% 53%;        
      }
    }
    .ccdate{
      float: left;
      padding: 0 !important;
      label{display: block;}
      select{
        width: auto !important;
        float: left !important;
        margin: 0 5px 0 0;
      }
    }
    .card-cvc{
      width: 30%;
      float: right;
      label{font-size: 12px;}
      input{
        padding-right: 40px;
        background-image: url(../images/back-credit-card-2.png);
        background-repeat: no-repeat;
        background-position: 190% 50%;
      }
    }
  }
  .paypal-box{
    text-align: center;
    overflow: hidden;
    padding: 110px 30px 30px 30px;
    background: #fff url('../images/paypal_background.gif') 50% 0 no-repeat;
    border-radius: 5px;
    .paypal h3{
      text-align: left;
      margin-bottom: 40px;
    }
  }
  #siteseal{
    position: absolute;
    top: 275px;
    right: 70px;
    margin: 0 0 0 24%;
  }
}

// confirmación del pago de una suscripcion
// -------------------------------------------------------------------------------------------------------
.confirmacion{
  text-align: center;
  .user-info{
    text-align: left;
    margin-left: 25%;
    padding:20px 0 0 0; 
  }
  .btn{
    margin-top: 40px;
  }
}


.deudor-msg{
  text-align:center;
  margin-top: -28px;
  margin-bottom: 700px;
  height: 80px;
  padding: 0 !important;
  background-color: #e46161;
  .background-gradient(#aa0000, #cc0000);
  a{
    display: block;
    color: #fff;
    padding: 15px;
    &:hover{
      color: #fff;
      text-decoration: none;
      background-color: lighten(#c00, 5%)
    }
  }
  h4{
    margin: 0 0 3px 0;
    text-shadow: 1px 2px 2px #000;
  }
  p{
    font-size: 14px;
    margin: 0;
  }
}


.mod-discount{
  .border-radius;
  margin: 0 0 30px 0;
  padding-top: 30px;
  overflow: hidden;
  &.basico{
    background:url("../images/back-nav-gray.jpg");
    .receipt{box-shadow: 0 -3px 20px #000000;}
  }
  &.premium{
    background:url("../images/back-nav.jpg");
    .receipt{box-shadow: 0 -3px 20px #003300;}
  }
  h1{
    margin: 0 30% 15px 30%;
    color: #ffffff;
    text-shadow: 1px 2px 3px #000;
    a{
      background: transparent;
      height: 27px;
      width: 27px;
      margin: 10px 0 0 0;
      display: block;
      float: right;
      text-indent: -900000px;
      overflow: hidden;
    }
  }
  .receipt {
    background-color: #fff;
    .border-radius(5px 5px 0 0);
    margin: 0 30%;
    padding: 30px 30px 0 30px;
    *{margin: 0;padding: 0;}
    .row{
      border-bottom: 1px solid #f1f1f1;
      &.last{
        background-color: #f90;
        border:0px;
        color:#fff;
        .border-radius(0 0 5px 5px);
        padding: 10px 20px;
      }
    }
    h3{
      font-size: 18px; 
      margin:10px 0 0 0;
    }
    p{
      font-size: 11px; 
      margin:0 0 10px 0;
      color: #ccc;
    }
    .col-md-9{background-color:;}
    .col-md-3{
      font-size: 20px; 
      text-align: right;
      font-weight: normal;
      padding-top: 15px;
      padding-right: 20px;
    }
    .row.last .col-md-3{padding: 0;}
    .row.last h3{
      margin: 0; 
      padding: 5px 0 0 0;
    }
  }
}




#payments{
  border: 0px;
  margin: 0 0 70px 0;
}

.payment-form{
  margin: 0;
  .payment-tabs{
    margin: 0;
    
    .nav-tabs{
      margin: 0 0 0 10px;
      border: 0;
      li{
        margin: 0;
        &.active{
          a{
            background-color: #a1a3ac;
            color: #fff;
            border-color: #a1a3ac;
          }
        }
        a{
          font-weight: normal;
          color: #666;
          padding: 10px 25px;
        }
      }
    }


  }
  .tab-content{
    border: 5px solid #a1a3ac;
    border-radius: 10px;
    padding: 25px 60px;
    margin: 0 0 30px 0;
    background-color: #fff;
    input{
      height: 40px;
    }
    .btn-success{
      .btn;
      height: auto !important;
      .background-gradient(#038d01, #48a513) !important;
    }
  }
  .email-princ{ 
    &.error{
      input{
        border: 1px solid #c00;
        background-color: #fffcfc;
      }
      small, span{color: #cc0000 !important;}
    }
  }
  .payment-errors{
    padding: 0;
    width: 100%;
    border: 0px;
    display: block;
    text-align: center;
    p{
      font-size: 12px;
      line-height: 30px;
      color: #c00;
      margin: 20px 0;
      padding: 0;
      display: block;
    }
  }
  h4{
    font-weight: bold;
    margin-bottom: 20px;
  }
  .cc{
    .ccdate{
      float: left;
      padding: 0 !important;
      label{display: block;}
      select{
        width: auto !important;
        float: left !important;
        margin: 0 5px 0 0;
      }
    }
    .card-cvc{
      width: 40%;
      float: right;
      label{font-size: 12px;}
      input{
        padding-right: 40px;
        background-image: url(../images/back-credit-card-2.png);
        background-repeat: no-repeat;
        background-position: 90% 50%;
      }
    }
  }
  .paypal-box{
    text-align: center;
    overflow: hidden;
    padding: 110px 30px 30px 30px;
    background: #fff url('../images/paypal_background.gif') 50% 0 no-repeat;
    border-radius: 5px;
    .paypal h3{
      text-align: left;
      margin-bottom: 40px;
    }
  }
}


// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 200px) and (max-width: 500px) {
  .info-suscripcion{
    .page-header{
      margin-bottom: 0px;
      h1{
        font-size: 40px;
        margin: 0 0 -30px 0;
      }
    }

    .price{
      margin: 0;
      position: initial;
      width: 100%;
    }

    .razones{
      float: none;
      width: 90%;
      margin: 0 auto;
      .detalles{
        h3{margin: 50px 0 20px 0;}
        ul{margin: 0 0 50px -20px;}
      }
    }
  }

  .payment-form{
    overflow: hidden;
    h3{
      margin: 0 0 30px 0;
      text-align: center;
    }
  
    .tab-content{padding: 25px;}
    
    .cc{
      .ccdate{
        float: left;
        width: 100%;
        padding: 0 !important;
      }
      .card-cvc{width: 100%;}
    }
    .paypal-box{
      padding:110px 0 0 0;
      .btn{margin: 0;}
    }
  }
}
@media (min-width: 501px) and (max-width: 600px) {}
@media (min-width: 601px) and (max-width: 700px) {}
@media (min-width: 700px) and (max-width: 800px) {}
@media (min-width: 800px) and (max-width: 900px) {}
@media (min-width: 900px) and (max-width: 1000px) {}
@media (min-width: 1000px) and (max-width: 1200px) {}