.portada{
	margin: 0 -15px 100px -15px;
	padding:0;
	overflow: hidden;
	.fold{
		text-align: center;
		background: #281f1a url('../images/back-fold.jpg') center -350px no-repeat;
		margin: 0 0 40px 0;
		padding: 40px 0 20px 0;
		border-bottom: 5px solid #e5e5e5;
		overflow: hidden;
		h1{
			color: #fff;
			margin: 0 auto 0px auto;
			font-size: 50px;
			width: 1000px;
		}
		p{
			font-size: 20px;
			margin: 0 0 15px 0;
			color: #aaa;
		}

		.buttons{
			width: 800px;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
			p{margin: 0;}
			.btn{
				color: #fff;
				padding:15px 30px;
				font-size: 20px;
				border: none;
				margin: 0 auto 5px auto;
				display: block;
				width: auto !important;
  			&:hover{
  				margin-top: 1px;
  				margin-bottom: 4px;
  			}
   			&:active{
  				margin-top: 2px;
  				margin-bottom: 3px;
  			}
				&.btn-success{
					text-shadow: 0 1px 3px rgba(14,78,14,0.9);
					.background-gradient(@color-dark: #3c993c, @color-light: #5cb85c);	
					width: 42%;
			 		-webkit-box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0,rgba(0,0,0,0.3) 0 2px 2px;
				  -moz-box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0,rgba(0,0,0,0.3) 0 2px 2px;
  				box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0,rgba(0,0,0,0.3) 0 2px 2px;
  				.border-radius;
  			}
				&.btn-primary{
					margin-right: 10px;
					text-shadow: 0 1px 3px rgba(14,78,14,0.9);
					.background-gradient(@color-dark: #264aa6, @color-light: #5593df);	
					width: 42%;
			 		-webkit-box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0,rgba(0,0,0,0.3) 0 2px 2px;
				  -moz-box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0,rgba(0,0,0,0.3) 0 2px 2px;
  				box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0,rgba(0,0,0,0.3) 0 2px 2px;
  				.border-radius;
  			}
			}
			p{
				display: block;
				font-size: 14px;
				color: #5cb85c;
				margin: 0;
			}
		}
	}


	.left, .center, .right{
		margin-bottom: 20px;
		.mod{margin-bottom: 40px;}
		h4{
			font-size: 19px;
			font-weight: normal;
			padding: 0 0 8px 5px;
			border-bottom: 1px solid #e5e5e5;
			margin: 0 0 10px 0;
		}
	}
	.left .recibes{display: none;}

	.descripcion{
		img{
			width: 100%;
			.border-radius;
			margin-bottom: 20px;
			border: 5px solid #e5e5e5;
		}
		dl{
			overflow: hidden;
			font-size: 13px;
			margin: 0 0 5px 10px;
			dt{
				float:left;
				width:40%;
				display: inline-block;
				span{margin: 0 5px 0 0;}
			}
			dd{
				float:left;
				width:60%;
			}
		}
		p{margin: 15px 0 0 0;}
	}

	.programa{
		margin-bottom: 30px;
		.lessons{
			border: 1px solid #e5e5e5;
			.border-radius;	
			.title{
				h5{
					font-size: 20px;
					font-weight: lighter;
					letter-spacing: 1px;
					padding: 15px;
					margin: 0;
					background-color: #f1f1f1;
				}
			}
			.publico{
				display: block;
				padding: 0;
				background: lighten(@green, 45%) url("../images/icon-play-video.png") 15px 50% no-repeat;
				color: #000;
				&:hover{
					text-decoration: none;
				}
				.topic{
					padding-left: 60px;
					span{color: #000;}
				}
			}
		}
		.topic{
			padding: 10px 20px;
			border-bottom: 1px solid #e5e5e5;
			p{
				font-size: 18px;
				margin: 0;
			}
			ul{
				margin: 0 0 0 25px;
				padding: 0;
				li{
					list-style: none;
					padding: 0;
					margin: 0;
					font-size: 12px;
					span{
						color: #ccc;
						margin: 0 10px 0 0;
					}
				}
			}
		}
	}
	.recibes{
		.each{
			margin-bottom: 15px;
			img{
				width: 60px;
				margin: 0 20px 10px 0;
				float: left;
			}
			p{
				font-size: 12px;
				line-height: 14px;
			}
		}
		.buttons{
			.suscriptions{
				margin-bottom: 5px;
				padding: 10px;
				background-color: lighten(#ffae00, 40%);
				.border-radius;
				border: 1px solid #f90; 
				position: relative;
				.arrow-msg{
					position: absolute;
					top: -70px;
					right: 25px;
				}
				.price{
					text-align: center;
					margin-bottom: 5px;
					p{
						font-size: 16px;
						margin: 0;
						padding: 0;
						color: #663d00;
					}
					h2{
						font-size: 36px;
						line-height: 36px;
						font-weight: bold;
						margin: 0;
						padding: 0;
						color: #663d00;
						text-shadow: 0 1px 0 rgba(255,255,255,0.4);
					}
					small{
						color: #663d00;
						margin: 0;
						padding: 0;
					}
				}
			}
			.btn-default{
				padding: 5px;
				border: 0px;
			}
		}
	}
}

// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 300px) and (max-width: 500px) {	
	.portada{
		margin: 0 -10%;
		.fold{
			margin: -10px 0 20px 0;
			padding: 40px 0 20px 0;
			border-bottom: 5px solid #e5e5e5;
			width: 100%;
			.content{
				margin: 0 auto;
				width: 85% !important;
			}
			h1{
				font-size: 34px;
				width: auto;
			}
			p{font-size: 14px;}
			.buttons{
				width: 100%;
				.btn{
					width: 80%;
					margin-left: auto;
					margin-right:auto;
				}
			}
		}
		.left, .center, .right{
			width: 90% !important;
			margin: 0 auto !important;
		}
		.right .recibes{
			display: block;
			.each{overflow:hidden;margin: 0;}
		}
		.right{
			.buttons{
				margin-top: 70px;
				.arrow-msg{
					position: absolute;
					top: -50px !important;
					right: 50px !important;
				}
			}
		}
	.programa{
		.lessons{
			.topic{
				padding: 10px;
				p{font-size: 15px;}
				ul{margin: 0;}
			}
			.title{
				h5{
					font-size: 18px;
					padding: 12px;
				}
			}
		}
	}}
}
@media (min-width: 501px) and (max-width: 600px) {
	.portada{
		margin: 0 -10%;
		.fold{
			margin: -10px 0 20px 0;
			padding: 40px 0 20px 0;
			border-bottom: 5px solid #e5e5e5;
			width: 100%;
			.content{
				margin: 0 auto;
				width: 85% !important;
			}
			h1{
				font-size: 34px;
				width: auto;
			}
			p{font-size: 18px;}
			.buttons{
				width: 100%;
				.btn{
					width: 80%;
					margin-left: auto;
					margin-right:auto;
				}
			}
		}
	}
	.left, .center, .right{
		width: 80%;
		margin: 0 auto !important;
		float: none;
		clear: both;
	}
	.left .recibes{display: block !important;}
	.recibes{
		.each{
			clear: both;
			p{
				font-size: 14px !important;
				line-height: 17px !important;
			}
		}
	}
}
@media (min-width: 601px) and (max-width: 800px) {
	.portada{
		margin: 0 -10%;
		.fold{
			margin: -10px 0 20px 0;
			padding: 40px 0 20px 0;
			border-bottom: 5px solid #e5e5e5;
			width: 100%;
			.content{
				margin: 0 auto;
				width: 85% !important;
			}
			h1{
				font-size: 40px;
				width: auto;
			}
			p{font-size: 18px;}

		}
	}
	.left, .center, .right{
		width: 80%;
		margin: 0 auto !important;
		float: none;
		clear: both;
	}
	.left{
		img{
			float: left;
			width: 50% !important;
			margin: 0 20px 0 0;
		}
	}
	.recibes{
		.each{
			clear: both;
			p{
				font-size: 14px !important;
				line-height: 17px !important;
			}
		}
	}
}
@media (min-width: 801px) and (max-width: 1000px) {
	.portada{
		margin: 0 -15% 0 -15%;
		.fold{
			margin: -10px 0 20px 0;
			padding: 40px 0 20px 0;
			border-bottom: 5px solid #e5e5e5;
			width: 100%;
			.content{
				margin: 0 auto;
				width: 85% !important;
			}
			h1{
				width: auto;
			}

		}
	}
	.left, .center, .right{
		width: 80%;
		margin: 0 auto !important;
		float: none;
		clear: both;
	}
	.left{
		padding: 30px 0 0 0;
		img{
			float: left;
			width: 40% !important;
			margin: 0 20px 0 0;
		}
	}
	.center{
		width: 50%;
		float: left;
		margin-left: 8% !important;
	}
	.right{
		width: 33%;
		float: right;
		clear: none !important;
		margin-right: 8% !important;
			.buttons{
				margin-top: 30px;
				.arrow-msg{
					position: absolute;
					top: -50px !important;
					right: 50px !important;
				}
			}
	}
}
@media (min-width: 901px) and (max-width: 1000px) {
	.portada{
		margin: 0 -20% 0 -20%;
	}
}