.btn-wrapper { margin: 25px auto }
.question-wrapper {  margin-bottom: 20px; }
.alert-wrapper { margin: 20px auto}

.filter-wrapper {
	input {
		border-radius: 5px;
		background: none repeat scroll 0% 0% #FFF;
		border: 1px solid #D2D2D2;
		padding: 5px;
	}
}

table#report {
	border: 1px solid #428bca;
}

.grid-view {
	.table {
		th>.sort-link{ color:#333;display:block;font-size:14px;font-weight:bold;position:relative}
		th>.sort-link:hover{text-decoration:none}
		th>.sort-link .caret{border-color:transparent;border-style:solid;border-width:4px;display:none;position:absolute;right:5px}
		th>.sort-link.asc .caret{border-bottom-color:#333;display:block;top:4px}
		th>.sort-link.desc .caret{border-top-color:#333;display:block;top:8px}

		.filters>td .filter-container{padding:0 16px 0 0}
		.filters>td .filter-container input[type="text"], 
		.filters>td .filter-container select {margin-bottom:0;width:100%}
		tr.selected td{ background:#eee}
		td{vertical-align:middle}
		.checkbox-column{width:15px}
		.number-column{text-align:right}
		th.button-column{text-align:center}
		td.button-column{text-align:left;}
	}

	.summary{color:#999;font-size:12px;padding:6px 0;text-align:right; visibility: visible;}
	.empty{font-style:italic}
	//.grid-view-loading .table th>.sort-link .caret{display:none}
	
	clear: both;

	table.admin-table {
		td:last-child, th:last-child { min-width: 130px; text-align: center; }
	}
}

.grid-view-loading{background:url(../images/loader.gif) no-repeat 100% 10px; }
.grid-view-loading .table{opacity:.5}
.grid-view-loading .summary { visibility: hidden;}

.grid-view-loading{ 
	background:url(../images/loader.gif) no-repeat 100% 10px; 
	.table{ opacity: .5 }
	.summary { visibility: hidden; }
}

#campanas-grid {
	table .button-column {max-width: 45px}
}

#courseTags .tag {
	background: none repeat scroll 0% 0% #CDE69C;
	border: 1px solid #A5D24A;
	color: #638421;
	cursor: pointer;
	display: block;
	float: left;
	font-family: helvetica;
	font-size: 13px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px;
	text-decoration: none;
}

#user-grid {
	.table tr.selected {
		td {
			background: #DFF0D8;
		}
	}
}

.label-revisado{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #5CB85C;
}
.label-no-revisado{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #5BC0DE;
}
.boton-tags{
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
#listadoPropuestas table.espacio{
    margin: 2px 0px 20px 20px;
    width: 98%;
}