// Variables

// Color -------------------------------------------------------------------------------------------------
//========================================================================================================
@blue: #0061bf;
@purple: #4554a4;
@green: #33cc33;



// Fonts -------------------------------------------------------------------------------------------------
//========================================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Questrial);

@font-family: Questrial, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Cmbio de ancho animado --------------------------------------------------------------------------------
// =======================================================================================================
//* {
//	-webkit-transition: width .15s linear;
//	-moz-transition: width .15s linear;
//	-o-transition: width .15s linear;
//	transition: width .15s linear;
//}

.transition(@values: all .05s linear){
	-webkit-transition: @values;
	-moz-transition: @values;
	-ms-transition: @values;
	-o-transition: @values;
	transition: @values;
}

// Rounded corners ---------------------------------------------------------------------------------------
// =======================================================================================================
.border-radius(@radius: 5px) {
    -moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	-khtml-border-radius: @radius;
	border-radius: @radius;
}
.border-radius-each (@radius-tl: 5px, @radius-tr: 5px, @radius-br: 5px, @radius-bl: 5px) {
	-moz-border-radius: @arguments;
	-webkit-border-radius: @arguments;
	-o-border-radius: @arguments;
	-khtml-border-radius: @arguments;
	border-radius: @arguments;
}


// Shadows ------------------------------------------------------------------------------------------------
// ========================================================================================================
.box-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
	-webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	-o-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}


// Opacity ------------------------------------------------------------------------------------------------
// ========================================================================================================
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity)";
  filter: alpha(opacity=@opacity);
}


// Gradients ------------------------------------------------------------------------------------------------
// ========================================================================================================
.background-gradient(@color-dark: #ff9900, @color-light: #ffde5c){
	background: -moz-linear-gradient(top, @color-light 0%, @color-dark);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @color-light), color-stop(100%, @color-dark));
    background: -webkit-linear-gradient(top, @color-light 0%, @color-dark 100%);
    background: -o-linear-gradient(top, @color-light 0%, @color-dark 100%);
    background: -ms-linear-gradient(top, @color-light 0%, @color-dark 100%);
    background: linear-gradient(to bottom, @color-light 0%,@color-dark 100%);
}



.fade(){
	z-index: 1;  
	-webkit-backface-visibility: hidden;
	-webkit-transition: 
	opacity 0.4s linear, 
	-webkit-transform 0.4s ease-in-out, 
	box-shadow 0.4s ease-in-out;
	-moz-transition: 
	opacity 0.4s linear, 
	-moz-transform 0.4s ease-in-out, 
	box-shadow 0.4s ease-in-out;
	-o-transition: 
	opacity 0.4s linear, 
	-o-transform 0.4s ease-in-out, 
	box-shadow 0.4s ease-in-out;
	-ms-transition: 
	opacity 0.4s linear, 
	-ms-transform 0.4s ease-in-out, 
	box-shadow 0.4s ease-in-out;
	transition: 
	opacity 0.4s linear, 
	transform 0.4s ease-in-out, 
	box-shadow 0.4s ease-in-out;
}

.btn(){
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  .border-radius(5px);	
  -webkit-box-shadow: inset rgba(0,0,0,.2)0 -2px 0,rgba(0,0,0,.3)0 2px 2px;
  -moz-box-shadow: inset rgba(0,0,0,.2)0 -2px 0,rgba(0,0,0,.3)0 2px 2px;
  box-shadow: inset rgba(0,0,0,.2)0 -2px 0,rgba(0,0,0,.3)0 2px 2px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(14,78,14,.9);
  .background-gradient(#339933,#33cc33);
  &:hover, &:focus{
  	outline: none;
	  color: #fff;
  	text-shadow: 0 1px 3px rgba(14,78,14,.9);
  }
  &:active{
		color: #fff;
		outline: none;
  	text-shadow: 0 1px 3px rgba(14,78,14,.9);
  	.background-gradient(#339933,#33cc33);
  }
}