// =======================================================================================================
// Footer ------------------------------------------------------------------------------------------------
// =======================================================================================================
footer{
  background: #fff;
  margin: 0 -15px;
  padding: 40px;
  border-top: 1px solid #e5e5e5;
  display: block;
  clear: both;
  div{
    h4{
      margin: 0 0 20px 0;
      font-family: @font-family;
      font-size: 20px;
      color: @purple;
      padding: 0;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        font-size: 13px;
        margin-bottom: 5px;
        a{
          outline: none;
          color: #999;
          &:hover{
            color: @purple;
            text-decoration: none;
          }
        }
      }
    }
  }
  .first{
    img{margin: 0 0 10px 0;}
    small{
      display: block;
      clear: both;
      color: #999999;
      font-style: italic;
    }
  }
  .fifth{
    li{
      float: left;
      margin: 0 0 15px 0;
      &.address p{
        font-size: 13px;
        color: #999999;
        display: block;
        width: 100%;
        height: auto;
        float: none;
        text-indent: 0;
        margin: 0;
        padding: 0;
      }
      a{
        width: 30px;
        height: 30px;
        display: block;
        overflow: hidden;
        text-indent: -90000px;
        margin: 0 10px 0 0;
        background: url("../images/icons-footer-redes.png") no-repeat;
        &.twitter{
          background-position: -30px 0;
          &:hover{background-position: -30px -30px;}
        }
        &.facebook{
          background-position: -60px 0;
          &:hover{background-position: -60px -30px;}
        }
        &.youtube{
          background-position: 0 0;
          &:hover{background-position: 0 -30px;}
        }
        &.mail{
          background-position: -90px 0;
          &:hover{background-position: -90px -30px;}
        }
      }
    }
  }
}


// =======================================================================================================
// Alerts ------------------------------------------------------------------------------------------------
// =======================================================================================================
.alert{
  text-align: center;
  margin: 0 1% 20px 1%;
  .btn{margin: 0 10px;}
}


// =======================================================================================================
// Paginacion ------------------------------------------------------------------------------------------------
// =======================================================================================================
.pagination{
  text-align: center;
  width: 100%;
  li{
    float: none;
    display: inline-block;
    margin: 0 -4px 0 0;
    a{
      padding: 10px 20px;
      color: @purple;
      background-color: #f1f1f1;
      &:hover{
        color: #fff;
        border-color:lighten(@purple, 20%);
        background-color: lighten(@purple, 20%);
      }
    }
    &.active a, &.active a:hover{
      background-color: @purple;
      border: 1px solid @purple;
    }
  }
}

// =======================================================================================================
// Modal ------------------------------------------------------------------------------------------------
// =======================================================================================================
.modal{
  .modal-content{padding:20px;}
}


// Media Queries -----------------------------------------------------------------------------------------
// =======================================================================================================
@media (min-width: 300px) and (max-width: 900px) {
footer{
  padding-bottom: 0;
  div{
    margin-bottom: 40px;
    &:last-child{margin-bottom: 0;}
    h4{
      margin: 0 0 10px 0;
      font-size: 20px;
    }
    ul{
      li{
        font-size: 15px;
        margin-bottom: 10px;
        a{
          outline: none;
          color: #999;
          &:hover{
            color: @purple;
            text-decoration: none;
          }
        }
      }
    }
  }
  .first{
    img{margin: 0 0 10px 0;}
    small{
      display: block;
      clear: both;
      color: #999999;
      font-style: italic;
    }
  }
  .fifth{
    li{
      float: left;
      margin: 0 0 15px 0;
      &.address p{
        font-size: 13px;
        color: #999999;
        display: block;
        width: 100%;
        height: auto;
        float: none;
        text-indent: 0;
        margin: 0;
        padding: 0;
      }
      a{
        width: 30px;
        height: 30px;
        display: block;
        overflow: hidden;
        text-indent: -90000px;
        margin: 0 10px 0 0;
        background: url("../images/icons-footer-redes.png") no-repeat;
        &.twitter{
          background-position: -30px 0;
          &:hover{background-position: -30px -30px;}
        }
        &.facebook{
          background-position: -60px 0;
          &:hover{background-position: -60px -30px;}
        }
        &.youtube{
          background-position: 0 0;
          &:hover{background-position: 0 -30px;}
        }
        &.mail{
          background-position: -90px 0;
          &:hover{background-position: -90px -30px;}
        }
      }
    }
  }
}
}
//@media (min-width: 401px) and (max-width: 500px) {body *{background-color:#0c0;}}
//@media (min-width: 501px) and (max-width: 600px) {body *{background-color:#00c;}}
//@media (min-width: 601px) and (max-width: 700px) {body *{background-color:#cc0;}}
//@media (min-width: 701px) and (max-width: 800px) {body *{background-color:#0cc;}}
//@media (min-width: 801px) and (max-width: 900px) {body *{background-color:#aa0;}}
//@media (min-width: 901px) and (max-width: 1000px) {body *{background-color:#0aa;}}
//@media (min-width: 1001px) and (max-width: 1100px) {body *{background-color:#ff0;}}
//@media (min-width: 1101px) and (max-width: 1200px) {body *{background-color:#0ff;}}
.validacion{
  text-align: center;
  min-height: 500px;
  h1{margin: 0;}
  img{
    margin: 120px 0 10px 0;
  }
  p{
    margin: 0 0 30px 0;
    font-size: 18px;
  }
}

.row .confirmacion {
  padding:  70px 0 70px 20px;
}
#loading-wrapper, .loading-wrapper {
  padding: 15px 0;

  span {
    background:  url(../images/select2-spinner.gif) no-repeat;
    padding-left:  20px;
  }
}
.asesor{
  text-align: center;
  font-family: Arial;
  padding: 0;
  width: 100%;
  h1{
    font-size: 35px;
    margin: 30px 0 10px 0;
  }
  img{
    border-radius: 1000px;
    width: 110px;
    margin: 0 0 10px 0;
    border: 4px solid #ff9900;
    &.loading {
      border-radius: 0;
      border: 0;
      padding: 17px 0;
      margin: 0;
      width: auto;
    }
  }
  p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  form{
    width: 400px;
    margin: 0 auto 30px auto;
    text-align: left;
    background-color: #e5e5e5;
    padding: 30px;
    border-radius: 5px;
    border-bottom: 3px solid #aaa;
    .form-group{
      margin-bottom: 5px;
    }
    .radio-inline{
      margin-left: 10px;
      font-size: 16px;
    }
    button{margin: 15px 0 0 0}
  }
}

.asesor-congrats{
  text-align: center;
  font-family: Arial;
  h1{
    font-size: 44px;
    margin: 30px 0;
  }
  img{
    border-radius: 10px;
    margin: 0 0 20px 0;
  }
  p{
    font-size: 20px;
  }
}

.region-wrapper {
  display: none;
}

.alert-sucess-payment {
  margin-top: 30px;
}